<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<style>

</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<body>
<div th:fragment="header">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-2 ms-4">
                    <a href="/">
                        <img src="/img/logo.png" class="mt-3 ms-2" style="cursor: pointer; height: 46px; position: relative; top: 3px">
                    </a>
                </div>
                <div class="col ms-4 mt-1">
                    <div class="row mt-4 fw-semibold">
                        <div class="col fs-22">
                            <a href="/project" class="text-secondary tab-link" id="projectLink" >프로젝트 / 스터디 찾기</a>
                            <a href="/qna" id="qnaLink" class="ms-4 text-secondary tab-link" >Q&A</a>
                            <a class="ms-4 text-secondary tab-link" id="noticeLink" > 공지사항</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col">

            <div class="row mt-3 me-2">

                <div class="col d-flex justify-content-end" th:if="${session.userDTO != null}">
                    <div class="row">
                        <div class="col-auto ms-5">
                            <a href="/user/clip">
                                <i class="bi bi-bookmark alarmBell text-secondary fs-2 ms-5"></i>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="/user/message">
                                <div style="position: relative;">
                                    <i class="bi bi-chat-dots alarmBell text-secondary fs-2 ms-2" style="cursor: pointer;"></i>
                                    <div class="pinkCircle" style="display: none; position: absolute; left: 28px; top: -1px;" id="notReadChatBox">
                                        <span class="fw-semibold mt-n1" id="notReadChatCount"></span>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-auto text-secondary">
                            <div style="position: relative;">
                                <i class="bi bi-bell alarmBell fs-2 ms-1" style="cursor:pointer;"
                                id="dropAlarmButton" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <div class="dropdown-menu row bg-light Small shadow" aria-labelledby="dropAlarmButton" style="width: 520px">
                                    <div class="col">

                                        <div class="row">
                                            <div class="col p-1 fw-semibold border-bottom border-1">
                                                <span class="ms-3 fs-18" style="position: relative; bottom: 3px;"> 알림 </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col fs-18 bg-white">
                                                <div class="row mt-2 mb-2"></div>
                                                <!---->
                                                <div id="notification-list"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                         </div>
                        <div class="col-auto">
                            <a href="/user/myPage">
                            <img class="rounded-circle" style="width: 45px; height: 45px; cursor: pointer;"
                                 src="/img/user.jpg" th:if="${session.userDTO.fileAttached == 0}">
                            <img class="rounded-circle" style="width: 45px; height: 45px; cursor: pointer;"
                                 th:src="@{|/upload/${session.userDTO.storedFileName}|}"
                                 th:if="${session.userDTO.fileAttached == 1}">
                            </a>
                        </div>
                        <div class="col">
                            <button class="btn mainButton fs-5 px-3 py-2 rounded rounded-4"
                                    id="dropBoardButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-pencil"></i>
                                <span class="ms-1">작성하기</span>
                            </button>
                            <div class="dropdown-menu bg-white Small shadow" aria-labelledby="dropBoardButton" style="width: 300px">
                                <div class="row mt-2">
                                    <a href="/qna/write">
                                        <div class="col contentDiv  ms-3 fs-22">
                                            Q&A 작성하기
                                        </div>
                                    </a>
                                </div>
                                <div class="row mt-3">
                                    <a href="/project/write">
                                        <div class="col ms-3 contentDiv fs-22">
                                            프로젝트 / 스터디 모집하기
                                        </div>
                                    </a>
                                </div>
                                <div class="mt-2"></div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col d-flex justify-content-end" th:if="${session.userDTO == null}">
                    <button class="btn btn-outline-dark fw-semibold fs-5 me-2" onclick="loginPage()">로그인</button>
                    <button class="btn mainButton fs-5" onclick="joinPage()">회원가입</button>
                </div>
            </div>

        </div>
    </div>

    <div class="border-bottom mt-3"></div>

</div>
<script th:inline="javascript">

    /*<![CDATA[*/
     let sessionId = [[${session.userDTO != null ? session.userDTO.id : 0}]];
 /*]]>*/


  const getNotificationList = () => {
        $.ajax({
         type: "get",
         url: "/notification/findAll/" + sessionId,
         success: function(res) {
            let output = "";
             if (res == null) {
                output += '<div class="text-center mt-3">알림이 존재하지 않습니다.</div>';
            } else {
              for (let i in res) {
                output += '<a href="' + res[i].notUrl + '">';
                output += '<div class="row mt-2">';
                output += '<div class="col ms-3">';

                output += '<div class="row">';
                output += '<div class="col-1">';
                if (res[i].fileAttached == 0) {
                    output += '<img src="/img/user.jpg" class="rounded-circle" style="width: 30px; height: 30px; position: relative; top: 4px">';
                } else if (res[i].fileAttached == 1) {
                    output += '<img class="rounded-circle" src="/upload/' + res[i].storedFileName + '" style="width: 30px; height: 30px; position: relative; top: 4px">';
                }
                output += '</div>';
                output += '<div class="col ms-2 fw-semibold">' + res[i].sender + '</div>';
                output += '<div class="col text-end text-secondary me-1">' + formatDateTime(res[i].occurDate) + '</div>';
                output += '</div>';

                output += '<div class="row">';
                output += '<div class="col-1">';
                output += '</div>';
                output += '<div class="col ms-2">' + res[i].sentence + '</div>';
                output += '</div>';

                output += '<div class="border-bottom mt-2">' + '</div>';

                output += '</div>';
                output += '</div>';
                output += '</a>';
                }
            }
            document.getElementById('notification-list').innerHTML = output;
         },
         error: function(err) {
             return;
         }
     });
  }


    const formatDateTime = (dateString) => {

     const date = new Date(dateString);
     const now = new Date();

     const timeDiff = now.getTime() - date.getTime(); // 현재 시간과 작성일과의 차이 (밀리초 단위)
     const minutesDiff = Math.floor(timeDiff / (1000 * 60)); // 분 단위로 변환

     // 1시간 이내일 경우
     if (minutesDiff < 60) {
        // 1분 미만일 경우
         if (minutesDiff < 1) {
           return '방금 전';
         }
         // 1분 이상일 경우
         else {
           return minutesDiff + '분 전';
         }
     }
    // 24시간 이내일 경우
    else if (minutesDiff < 1440) {

         const hoursDiff = Math.floor(minutesDiff / 60);
         return hoursDiff + '시간 전';
    }
 // 30일 이내일 경우
 else if (minutesDiff < 30 * 24 * 60) {
     const daysDiff = Math.floor(minutesDiff / (24 * 60));
     return daysDiff + '일 전';
 }
 // 12개월 이내일 경우
 else if (minutesDiff < 12 * 30 * 24 * 60) {
     const monthsDiff = Math.floor(minutesDiff / (30 * 24 * 60));
     return monthsDiff + '달 전';
 }
   const year = date.getFullYear();
   const month = date.getMonth() + 1;
   const day = date.getDate();
   let hours = date.getHours();
   const minutes = date.getMinutes();
   let period = '오전';

   if (hours >= 12) {
     period = '오후';
     if (hours > 12) {
       hours -= 12;
     }
   } else if (hours === 0) {
     hours = 12;
   }

   const formattedDateTime = year + '-' + ('0' + month).slice(-2) + '-' + ('0' + day).slice(-2) + ' ' + period + ' ' + ('0' + hours).slice(-2) + ':' + ('0' + minutes).slice(-2);
   return formattedDateTime;
 }


window.addEventListener("DOMContentLoaded", function(){
    if (sessionId != 0) {
        getNotificationList();
    }
 });
});

</script>
</body>
</html>