<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<style>

</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<body>
<div class="container-fluid">
    <div th:include="common/header :: header"></div>


    <div class="row">
        <div class="col-2">
            <div th:include="common/sidemenu :: sidemenu"></div>
        </div>

        <div class="col bg-light">

            <div class="row mt-3 mb-4"></div>
            <div class="row">
                <div class="col ms-5">

                    <div class="row">
                        <div class="col fs-4 fw-semibold">
                            프로젝트 / 스터디 찾기
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col ms-2 bg-white rounded border border-1 px-3" style="min-height: 300px">

                            <div class="row mt-2">
                                <div class="col ms-3">

                                    <div class="row mt-2 mb-2"></div>
                                    <!-- 제목 -->
                                    <div class="row">
                                        <div class="col fs-4 fw-semibold" th:text="${project.title}">

                                        </div>
                                    </div>
                                    <!-- 제목 -->

                                    <div class="row mt-2 mb-1"></div>
                                    <!-- 윗 상단 -->
                                    <div class="row mt-2">
                                        <div class="col-8">
                                            <div class="row">
                                                <div class="col-1">
                                                    <!--                                                    <i class="bi bi-circle"></i>-->
                                                    <img class="rounded-circle mt-1" style="width: 40px; height: 40px;"
                                                         src="/img/user.jpg" th:if="${writerInfo.fileAttached == 0}">
                                                    <img class="rounded-circle mt-1" style="width: 40px; height: 40px;"
                                                         th:src="@{|/upload/${writerInfo.storedFileName}|}" th:if="${writerInfo.fileAttached == 1}">

                                                </div>
                                                <div class="col ms-3">
                                                    <div class="row">
                                                        <div class="col fw-semibold" th:text="${project.writer}">

                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col">


                                                            <span class="date-element" th:text="${project.regDate}"></span>
<!--                                                            <span th:text="formatDateTime([[${project.regDate}]])"></span>-->
                                                            <span class="ms-1">
                                                                <i class="bi bi-eye"></i>
                                                            </span>
                                                            <span th:text="${project.readCount}"></span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col text-end me-1 mt-4">
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-sm" style="background-color: #dee2e6;">
                                                        <i class="bi bi-star"></i>
                                                        <span class="ms-1">스크랩</span>
                                                        <span class="ms-1">0</span>
                                                    </button>
                                                </div>
                                                <!--                                                th:if="${session.userDTO != null-->
                                                <!--                                                and session.userDTO.id == project.userId}"-->

                                                <div class="col-1 mt-1 ps-0 dropdown" style="cursor: pointer;"
                                                     th:if="${session.userDTO != null and session.userDTO.id == project.userId}">
                                                    <i class="bi bi-three-dots-vertical" style="height: 10px" id="dropButton"
                                                       data-bs-toggle="dropdown" aria-expanded="false">
                                                    </i>
                                                    <ul class="dropdown-menu" aria-labelledby="dropButton">
                                                        <li>
                                                            <a class="dropdown-item" th:href="@{|/project/update/${project.id}|}">
                                                                <i class="bi bi-pencil-square"></i>
                                                                <span class="ms-1"> 수정하기 </span>
                                                            </a>
                                                        </li>


                                                        <li>
                                                            <a class="dropdown-item" onclick="deleteBoardReq()">
                                                                <i class="bi bi-trash3"></i>
                                                                <span class="ms-1"> 삭제하기 </span>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- 윗 상단 -->

                                    <div class="border-bottom mt-3"></div>
                                    <div class="row mt-2 mb-2"></div>

                                    <!-- 프로젝트 / 스터디 -->
                                    <div class="row">
                                        <div class="col">

                                            <div class="row">
                                                <div class="col-4 text-secondary">
                                                    모집 구분
                                                </div>
                                                <div class="col fw-semibold" th:text="${projectStudyCategory.name}">

                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-4 text-secondary">
                                                    모집 분야
                                                </div>
                                                <div class="col fw-semibold" th:text="${positionCategory.name}">
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-4 text-secondary">
                                                    기술 스택
                                                </div>
                                                <div class="col fw-semibold" th:text="${techCategory.name}">

                                                </div>
                                            </div>


                                        </div>
                                        <div class="col">

                                            <div class="row">
                                                <div class="col-4 text-secondary">
                                                    모집 인원
                                                </div>
                                                <div class="col fw-semibold" th:text="${project.headCount == 0 ? '인원 미정' : project.headCount == 10 ? '10명 이상' : project.headCount + '명'}">
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-4 text-secondary">
                                                    시작 예정일
                                                </div>

                                                <div class="col fw-semibold"
                                                     th:text="${#dates.format(project.endDate, 'yyyy-MM-dd')}">

                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-4 text-secondary">
                                                    진행 기간
                                                </div>
                                                <div class="col fw-semibold" th:text="${periodCategory.name}">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 프로젝트 / 스터디 -->

                                    <div class="row mt-4 mb-4"></div>

                                    <div class="row">
                                        <div class="col fs-4 fw-semibold">
                                            <span th:text="${projectStudyCategory.name}"></span>
                                            <span class="ms-1">소개</span>
                                        </div>
                                    </div>

                                    <div class="border-bottom mt-2 mb-3"></div>

                                    <!-- 내용 -->
                                    <div class="row">
                                        <div class="col" th:utext="${project.content}"></div>
                                    </div>

                                    <!-- 내용 -->
                                    <div class="row mt-5 mb-5"></div>
                                    <div class="row mt-5 mb-5"></div>
                                    <div class="border-bottom mt-4 mb-3"></div>

                                    <!-- 댓글 개수 -->
                                    <div class="row mt-1">
                                        <div class="col ms-1">
                                            <span class="fw-semibold">댓글</span>
                                            <span class="text-secondary" th:text="${commentCount}" id="commentCount"></span>
                                        </div>
                                    </div>
                                    <!-- 댓글 개수 -->

                                    <!-- 댓글 입력 폼 -->
                                    <div class="row mt-3">
                                        <div class="col-1 ms-1">
                                            <img class="rounded-circle" style="width: 40px; height: 40px;"
                                                 src="/img/user.jpg" th:if="${session.userDTO == null}">
                                            <img class="rounded-circle" style="width: 40px; height: 40px;"
                                                 src="/img/user.jpg" th:if="${session.userDTO != null && session.userDTO.fileAttached == 0}">
                                            <img class="rounded-circle" style="width: 40px; height: 40px;"
                                                 th:src="@{|/upload/${session.userDTO.storedFileName}|}" th:if="${session.userDTO != null && session.userDTO.fileAttached == 1}">
                                        </div>

                                        <div class="col">
                                            <textarea name="" id="commentContent" cols="10" rows="4"
                                                      class="form-control" ></textarea>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col text-end">
                                            <button class="btn btn-primary px-3" onclick="commentReq()"
                                                    th:if="${session.userDTO != null}">댓글 쓰기</button>
                                            <button class="btn btn-primary px-3 disabled"
                                                    th:if="${session.userDTO == null}">댓글 쓰기</button>
                                        </div>
                                    </div>
                                    <!-- 댓글 입력 폼 -->

                                    <div class="row mt-3 mb-3"></div>
                                    <div class="border-bottom mb-4"></div>

                                    <!-- 댓글 목록 -->
                                    <div id="comment-list">
                                        <div class="row mb-2" th:each="comment: ${commentList}">
                                            <div class="col ms-1">

                                                <!-- 댓글 작성 정보 -->
                                                <div class="row">
                                                    <div class="col">

                                                        <div class="row">
                                                            <div class="col-2">
                                                                <img class="rounded-circle" style="width: 40px; height:40px;"
                                                                     src="/img/user.jpg" th:if="${comment.fileAttached == 0}">
                                                                <img class="rounded-circle" style="width: 40px; height:40px;"
                                                                     th:src="@{|/upload/${comment.storedFileName}|}" th:if="${comment.fileAttached == 1}">
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div class="col px-0 fw-semibold" th:text="${comment.writer}">

                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col px-0 text-secondary date-element" th:text="${comment.regDate}"
                                                                         style="font-size: 14px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col text-end me-1">

                                                        <span>
                                                            <img src="/img/like.png" style="width: 25px; height: 25px; cursor: pointer;"
                                                            th:onclick="isYourCommentForLike([[${comment.id}]])">
                                                            <span class="likeFont" th:id="'cmtLike_' + ${comment.id}" th:text="${comment.likeCount}"></span>
                                                        </span>
                                                        <span class="ms-2">
                                                             <img src="/img/dislike.png" style="width: 25px; height: 25px; cursor: pointer;"
                                                                  th:onclick="isYourCommentForDisLike([[${comment.id}]])">
                                                            <span class="likeFont" th:id="'cmtDisLike_' + ${comment.id}" th:text="${comment.disLikeCount}"></span>
                                                        </span>
                                                        <span class="ms-1 text-end ps-0 dropdown" style="cursor: pointer;"
                                                              id="dropdownComment_${comment.id}"
                                                              th:if="${session.userDTO != null and session.userDTO.id == comment.userId}">
                                                            <i class="bi bi-three-dots-vertical" style="height: 10px" id="dropButtonComment"
                                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                            </i>
                                                            <ul class="dropdown-menu" aria-labelledby="dropButtonComment">
                                                                <li>
                                                                    <a class="dropdown-item" href="#">
                                                                        <i class="bi bi-pencil-square"></i>
                                                                        <span class="ms-1"> 수정하기 </span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" th:onclick="deleteCommentPage([[${comment.id}]])">
                                                                        <i class="bi bi-trash3"></i>
                                                                        <span class="ms-1"> 삭제하기 </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </div>

                                                </div>
                                                <!-- 댓글 작성 정보 -->

                                                <!-- 댓글 내용 정보 -->
                                                <div class="row mt-3">
                                                    <div class="col ms-1" th:text="${comment.content}">
                                                    </div>
                                                </div>
                                                <!-- 댓글 내용 정보 -->

                                                <div class="row mt-3" style="cursor: pointer;">
                                                    <div class="col commentFont ms-1 mb-1 text-secondary"
                                                         th:onclick="toggleReplyInputBox([[${comment.id}]])"
                                                         th:id="'toggleReplyButton_' + ${comment.id}">
                                                        댓글 작성
                                                    </div>
                                                </div>


                                                <!-- 댓글 -->
                                                <!-- 답글 입력 폼 -->
                                                <div class="row" th:id="'toggleReplyInputBox_' + ${comment.id}" style="display: none;">
                                                    <div class="col">
                                                        <div class="row mt-3">
                                                            <div class="col-1 ms-1">
                                                                <img class="rounded-circle" style="width: 40px; height: 40px;"
                                                                     src="/img/user.jpg" th:if="${session.userDTO == null}">
                                                                <img class="rounded-circle" style="width: 40px; height: 40px;"
                                                                     src="/img/user.jpg" th:if="${session.userDTO != null && session.userDTO.fileAttached == 0}">
                                                                <img class="rounded-circle" style="width: 40px; height: 40px;"
                                                                     th:src="@{|/upload/${session.userDTO.storedFileName}|}" th:if="${session.userDTO != null && session.userDTO.fileAttached == 1}">
                                                            </div>

                                                            <div class="col">
                                                            <textarea name="" th:id="'replyContent_' + ${comment.id}" cols="10" rows="4"
                                                                  class="form-control" ></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="row mt-3">
                                                            <div class="col text-end">
                                                                <button class="btn btn-primary px-3" th:onclick="replyReq([[${comment.id}]])"
                                                                        th:if="${session.userDTO != null}">댓글 쓰기</button>
                                                                <button class="btn btn-primary px-3 disabled"
                                                                        th:if="${session.userDTO == null}">댓글 쓰기</button>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2 mb-3"></div>
                                                    </div>
                                                </div>
                                                <!-- 답글 입력 폼 -->

                                                <div class="border-bottom mt-1 mb-3"></div>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- 댓글 목록 -->



                                    <div class="row mt-3 mb-3"></div>





                                </div>
                            </div>




                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-9 ms-5 bg-white rounded border border-1" style="min-height: 300px">

                                    <div class="row mt-2">
                                        <div class="col ms-2">

                                            <div class="row mt-1">
                                                <div class="col-1">
                                                    <i class="bi bi-dot" style="color: #ff6f0f;"></i>
                                                </div>
                                                <div class="col px-1 fw-semibold">
                                                    이런 프로젝트 / 스터디는 어떠신가요?
                                                </div>
                                            </div>

                                            <!-- -->
                                            <div class="row mt-4" th:each="randomProject: ${randomProjectList}">
                                                <div class="col">

                                                    <div class="row">
                                                        <div class="col-1">
                                                            <img class="rounded-circle" style="width: 20px; height: 20px"
                                                                 src="/img/user.jpg" th:if="${randomProject.fileAttached == 0}">
                                                            <img class="rounded-circle" style="width: 20px; height: 20px"
                                                                 th:src="@{|/upload/${randomProject.storedFileName}|}" th:if="${randomProject.fileAttached == 1}">
                                                        </div>
                                                        <div class="col ms-1 text-secondary fw-semibold"
                                                             style="font-size: 13px; position: relative; top: 2px"
                                                             th:text="${randomProject.writer}">

                                                        </div>
                                                    </div>


                                                    <div class="row mt-1">
                                                        <a th:href="@{|/project/${randomProject.id}|}">
                                                            <div class="col fw-semibold overflow" style="font-size: 14px; width: 280px"
                                                                 th:text="${randomProject.title}">
                                                            </div>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- -->

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>


<!-- 게시글 삭제 alert -->
<div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">게시글 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row text-center">
                    <div class="col">
                        게시글을 삭제하시겠습니까?
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input type="button" class="btn btn-primary" value="확인" onclick="deleteBoard()">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            </div>

        </div>
    </div>
</div>
<!-- 게시글 삭제 alert -->


<!-- 댓글 삭제 alert -->
<div class="modal" id="deleteCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">댓글 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row text-center">
                    <div class="col">
                        댓글을 삭제하시겠습니까?
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input type="button" class="btn btn-primary" value="확인" onclick="deleteComment()">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            </div>

        </div>
    </div>
</div>
<!-- 댓글 삭제 alert -->



<!-- 댓글 좋아요 / 싫어요 alert -->
<div class="modal" id="alertNoLikeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">알림</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row text-center">
                    <div class="col">
                        본인이 작성하신 댓글에 좋아요 / 싫어요를 클릭하실 수 없습니다.
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">창닫기</button>
            </div>

        </div>
    </div>
</div>
<!-- 댓글 좋아요 / 싫어요 alert -->


<!-- 댓글 좋아요 / 싫어요 한번만 클릭 alert -->
<div class="modal" id="alertLikeCheckModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">알림</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row text-center">
                    <div class="col">
                        한 댓글에 좋아요, 싫어요는 한 번만 클릭하실 수 있습니다.
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">창닫기</button>
            </div>

        </div>
    </div>
</div>
<!-- 댓글 좋아요 / 싫어요 alert -->

<script th:inline="javascript">

    /*<![CDATA[*/
       let sessionId = [[${session.userDTO != null ? session.userDTO.id : 0}]];
   /*]]>*/

   /*<![CDATA[*/
       let sessionUser = [[${session.userDTO}]];
   /*]]>*/

   /*<![CDATA[*/
        let selectedCommentId = null;
   /*]]>*/

   /*<![CDATA[*/
        let commentPk = null;
   /*]]>*/

 // 게시글 삭제 모달
 const deleteBoardReq = () => {
     const deleteModal = bootstrap.Modal.getOrCreateInstance("#deleteModal");
     deleteModal.show();
 }

 // 게시글 삭제
 const deleteBoard = () => {
     const deleteModal = bootstrap.Modal.getOrCreateInstance("#deleteModal");
     deleteModal.hide();
     location.href = "/project/delete/" + [[${project.id}]];
 }

 // 본인 댓글 좋아요/싫어요 클릭 오류 모달
const alertNoLikeModal = () => {
    const alertNoLikeModal = bootstrap.Modal.getOrCreateInstance("#alertNoLikeModal");
    alertNoLikeModal.show();

    setTimeout(function() {
        alertNoLikeModal.hide();
    }, 2000);
}



 // 본인 댓글 좋아요/싫어요 클릭 오류 모달
const alertLikeCheckModal = () => {
    const alertLikeCheckModal = bootstrap.Modal.getOrCreateInstance("#alertLikeCheckModal");
    alertLikeCheckModal.show();

    setTimeout(function() {
        alertLikeCheckModal.hide();
    }, 2000);
}

  // 댓글 작성
 const commentReq = () => {
     const projectId = [[${project.id}]];
     const content = document.querySelector("#commentContent");

     if (content.value.trim() == "") {
         alert("내용을 입력하세요.");
         content.focus();
         return;
     }

     $.ajax({
         type: "post",
         url: "/projectComment/save",
         data: {
             "projectId" : projectId,
             "content" : content.value
         },
         success: function(res) {
             loadComments(projectId);
             updateCommentCount(projectId);
             content.value = "";
         }, error: function(err) {
             return;
         }
      });
 }

 // 날짜 변환
 const formatTime = (timeStamp) => {
   const date = new Date(timeStamp);
   const year = date.getFullYear();
   const month = String(date.getMonth() + 1).padStart(2, '0');
   const day = String(date.getDate()).padStart(2, '0');
   const hours = String(date.getHours()).padStart(2, '0');
   const minutes = String(date.getMinutes()).padStart(2, '0');
   const seconds = String(date.getSeconds()).padStart(2, '0');

   const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
   return formattedDate;
 }

 // 댓글 수 업데이트 함수
 const updateCommentCount = (id) => {
     $.ajax({
         type: "get",
         url: "/projectComment/count/" + id,
         success: function(res) {

             const commentCount = res; // 서버에서 받아온 댓글 수
             document.querySelector("#commentCount").innerText = commentCount; // 댓글 수 업데이트
         },
         error: function(err) {
             return;
         }
     });
 }


    // 댓글 조회
    const loadComments = (projectId) => {
         $.ajax({
         type: "get",
         url: "/projectComment/getCommentList/" + projectId,
         success: function(comments) {
             let output = "";
             for (let i in comments) {
                 output += '<div class="row mb-2">';
                 output += '<div class="col ms-1">';
                 output += '<div class="row">';
                 output += '<div class="col">';
                 output += '<div class="row">';
                 output += '<div class="col-2">';

                 if (comments[i].fileAttached == 0) {
                     output += '<img class="rounded-circle" style="width: 40px; height: 40px;" src="/img/user.jpg">';
                 } else if (comments[i].fileAttached == 1) {
                     output += '<img class="rounded-circle" style="width: 40px; height: 40px;" src="/upload/' + comments[i].storedFileName + '">';
                 }

                 output += '</div>';
                 output += '<div class="col">';
                 output += '<div class="row">';
                 output += '<div class="col fw-semibold px-0">' + comments[i].writer + '</div>';
                 output += '</div>';
                 output += '<div class="row">';
                 output += '<div class="col text-secondary date-element px-0" style="font-size: 14px;">' + formatDateTime(comments[i].regDate) + '</div>';
                 output += '</div>';
                 output += '</div>';
                 output += '</div>';
                 output += '</div>';
                 output += '<div class="col text-end">';

                 output += '<span>';
                 output += '<img src="/img/like.png" style="width: 25px; height: 25px; cursor: pointer;" class="me-1" ' +
                      'onclick="isYourCommentForLike(' + comments[i].id + ')" ' +
                      'id="cmtLike_' + comments[i].id + '">';

                 output += '<span class="likeFont me-1">' + comments[i].likeCount + '</span>';
                 output += '</span>';


                 output += '<span class="ms-2">';
                 output += '<img src="/img/dislike.png" style="width: 25px; height: 25px; cursor: pointer;" class="me-1" ' +
                      'onclick="isYourCommentForDisLike(' + comments[i].id + ')" ' +
                      'id="cmtDisLike_' + comments[i].id + '">';
                 output += '<span class="likeFont me-1">' + comments[i].disLikeCount + '</span>';
                 output += '</span>';

                 if (sessionId == comments[i].userId) {
                 output += '<span class="text-end ps-0 dropdown" style="cursor: pointer;" id="dropdownComment_' + comments[i].id + '">';
                 output += '<i class="bi bi-three-dots-vertical" style="height: 10px" id="dropButtonComment" data-bs-toggle="dropdown" aria-expanded="false"></i>';
                 output += '<ul class="dropdown-menu" aria-labelledby="dropButtonComment">';
                 output += '<li>';
                 output += '<a class="dropdown-item" href="#">';
                 output += '<i class="bi bi-pencil-square"></i>';
                 output += '<span class="ms-2">' + "수정하기" + '</span>';
                 output += '</a>';
                 output += '</li>';
                 output += '<li>';
                 output += '<a class="dropdown-item" onclick="deleteCommentPage(' + comments[i].id + ')">';
                 output += '<i class="bi bi-trash3"></i>';
                 output += '<span class="ms-2">' +  "삭제하기" + '</span>';

                 output += '</a>';
                 output += '</li>';
                 output += '</ul>';
                 output += '</span>';
                 }

                 output += '</div>';
                 output += '</div>';
                 output += '<div class="row mt-3">';
                 output += '<div class="col ms-1">' + comments[i].content + '</div>';
                 output += '</div>';

                 output += '<div class="row mt-3">';
                 output += '<div class="col commentFont ms-1 mb-1 text-secondary" onclick="toggleReplyInputBox(' + comments[i].id + ')" id="toggleReplyButton_' + comments[i].id + '" style="cursor: pointer;">' + "댓글 작성" + '</div>';
                 output += '</div>';

                 <!-- 답글 작성 -->
                 output += '<div class="row" id="toggleReplyInputBox_' + comments[i].id + '" style="display: none;">';
                 output += '<div class="col">';

                 output += '<div class="row mt-3">';
                 output += '<div class="col-1 ms-1">';
                 if (sessionUser == null) {
                    output += '<img class="rounded-circle" style="width: 40px; height: 40px;" src="/img/user.jpg">';
                 } else if (sessionUser != null && sessionUser.fileAttached == 0) {
                    output += '<img class="rounded-circle" style="width: 40px; height: 40px;" src="/img/user.jpg">';
                 } else if (sessionUser != null && sessionUser.fileAttached == 1) {
                    output += ' <img class="rounded-circle" style="width: 40px; height: 40px;" src="/upload/' + sessionUser.storedFileName + '">';
                 }
                 output += '</div>';
                 output += '<div class="col">';
                 output += '<textarea name="" id="replyContent_' + comments[i].id + '" cols="10" rows="4" class="form-control" >' + '</textarea>';
                 output += '</div>';
                 output += '</div>';

                 output += '<div class="row mt-3">';
                 output += '<div class="col text-end">';
                 if (sessionUser == null) {
                    output += '<button class="btn btn-primary px-3 disabled">' + "댓글 쓰기" + '</button>';
                 } else {
                     output += '<button class="btn btn-primary px-3" onclick="replyReq('+ comments[i].id +')">' + "댓글 쓰기" + '</button>';
                 }
                 output += '</div>';
                 output += '</div>';

                 output += '<div class="row mt-2 mb-3">' + '</div>';
                 output += '</div>';
                 output += '</div>';
                 <!-- 답글 작성 -->

                 <!-- 댓글 사이 경계선 -->
                 output += '<div class="border-bottom mt-1 mb-3"></div>';
                 <!-- 댓글 사이 경계선 -->
                 output += '</div>';
                 output += '</div>';
             }
             document.getElementById('comment-list').innerHTML = output;

         },
         error: function(err) {
             return;
         }
     });
    }




    // 댓글 삭제 모달
    const deleteCommentPage = (id) => {
        selectedCommentId = id;
        const deleteCommentModal = bootstrap.Modal.getOrCreateInstance("#deleteCommentModal");
	    deleteCommentModal.show();
    }

    // 댓글 삭제
    const deleteComment = () => {
        const id = selectedCommentId;
        const projectId = [[${project.id}]];

        $.ajax({
         type: "post",
         url: "/projectComment/delete/" + id,
         success: function(res) {
          /*<![CDATA[*/  selectedCommentId = null;  /*]]>*/
          	const deleteCommentModal = bootstrap.Modal.getOrCreateInstance("#deleteCommentModal");
			deleteCommentModal.hide();
            loadComments(projectId);
            updateCommentCount(projectId);
         },
         error: function(err) {
             return;
         }
     });

    }

  const getNotificationList = () => {
        $.ajax({
         type: "get",
         url: "/notification/findAll/" + sessionId,
         success: function(res) {
            let output = "";
             if (res.length == 0) {
                output += '<div class="text-center mb-3"> 읽지 않은 알림이 존재하지 않습니다. </div>';
            } else {
              for (let i in res) {
                output += '<a href="' + res[i].notUrl + '">';
                output += '<div class="row mt-2">';
                output += '<div class="col ms-3">';

                output += '<div class="row">';
                output += '<div class="col-1">';
                if (res[i].fileAttached == 0) {
                    output += '<img src="/img/user.jpg" class="rounded-circle" style="width: 28px; height: 28px;">';
                } else if (res[i].fileAttached == 1) {
                    output += '<img class="rounded-circle" src="/upload/' + res[i].storedFileName + '" style="width: 28px; height: 28px;">';
                }
                output += '</div>';
                output += '<div class="col ms-2 fw-semibold">' + res[i].sender + '</div>';
                output += '<div class="col text-end text-secondary me-1">' + formatDateTime(res[i].occurDate) + '</div>';
                output += '</div>';

                output += '<div class="row">';
                output += '<div class="col-1">';
                output += '</div>';
                output += '<div class="col ms-2">' + res[i].sentence + '</div>';
                output += '</div>';

                output += '<div class="border-bottom mt-2">' + '</div>';

                output += '</div>';
                output += '</div>';
                output += '</a>';
                }
            }
            document.getElementById('notification-list').innerHTML = output;
         },
         error: function(err) {
             return;
         }
     });
  }

  // 본인이 작성한 댓글인지의 여부 확인 (좋아요)
  const isYourCommentForLike = (id) => {
       if (sessionId == 0) {
           location.href = "/user/loginPage";
           return;
       }

       $.ajax({
         type: "get",
         url: "/projectComment/isYourComment",
         data: {
            "id": id,
            "userId": sessionId
         },
         success: function(res) {
            if (res) {
            // 반환값 true
                alertNoLikeModal();
                return;
            } else {
                // 반환값 false
                checkCommentDisLike(id);
            }
         },
         error: function(err) {
             return;
         }
     });
  }

  // 댓글 좋아요를 눌렀을 때 싫어요 여부 확인
   const checkCommentDisLike = (id) => {
         $.ajax({
         type: "get",
         url: "/projectComment/checkCommentDisLike",
         data: {
            "id": id,
            "userId": sessionId
         },
         success: function(res) {
            if (res > 0) {
            // 반환값 true
                alertLikeCheckModal();
                return;
            } else {
                // 반환값 false
                toggleCommentLike(id);
            }
         },
         error: function(err) {
             return;
         }
     });
   }


    // 댓글 좋아요
  const toggleCommentLike = (id) => {

       $.ajax({
         type: "post",
         url: "/projectComment/commentLike",
         data: {
            "commentId": id,
            "userId": sessionId
         },
         success: function(res) {
             updateCommentLikeCount(id);
         },
         error: function(err) {
             return;
         }
     });
  }

  // 댓글 좋아요 수 업데이트
  const updateCommentLikeCount = (id) => {
       const cmtLikeBox = document.getElementById("cmtLike_" + id);
       $.ajax({
         type: "get",
         url: "/projectComment/likeCount/" + id,
         success: function(res) {
            cmtLikeBox.innerText = res;
         },
         error: function(err) {
             return;
         }
     });
  }


   // 본인이 작성한 댓글인지의 여부 확인 (싫어요)
  const isYourCommentForDisLike = (id) => {
       if (sessionId == 0) {
           location.href = "/user/loginPage";
           return;
       }

       $.ajax({
         type: "get",
         url: "/projectComment/isYourComment",
         data: {
            "id": id,
            "userId": sessionId
         },
         success: function(res) {
            if (res) {
            // 반환값 true
                alertNoLikeModal();
                return;
            } else {
                // 반환값 false
                checkCommentLike(id);
            }
         },
         error: function(err) {
             return;
         }
     });
  }

   // 댓글 싫어요를 눌렀을 때 좋아요 여부 확인
   const checkCommentLike = (id) => {
         $.ajax({
         type: "get",
         url: "/projectComment/checkCommentLike",
         data: {
            "id": id,
            "userId": sessionId
         },
         success: function(res) {
            if (res > 0) {
            // 반환값 true
                alertLikeCheckModal();
                return;
            } else {
                // 반환값 false
                toggleCommentDisLike(id);
            }
         },
         error: function(err) {
             return;
         }
     });
   }

  // 댓글 싫어요
  const toggleCommentDisLike = (id) => {

       $.ajax({
         type: "post",
         url: "/projectComment/commentDisLike",
         data: {
            "commentId": id,
            "userId": sessionId
         },
         success: function(res) {
             updateCommentDisLikeCount(id);
         },
         error: function(err) {
             return;
         }
     });
  }

// 댓글 싫어요 수 업데이트
  const updateCommentDisLikeCount = (id) => {
       const cmtDisLikeBox = document.getElementById("cmtDisLike_" + id);
       $.ajax({
         type: "get",
         url: "/projectComment/disLikeCount/" + id,
         success: function(res) {
            cmtDisLikeBox.innerText = res;
         },
         error: function(err) {
             return;
         }
     });
  }


 // 답글 작성 폼 열고 닫기
 const toggleReplyInputBox = (id) => {
    const replyBox = document.getElementById("toggleReplyInputBox_" + id);
    const replyButton = document.getElementById("toggleReplyButton_" + id);
    if (replyBox.style.display == 'none') {
        replyBox.style.display = 'block';
        replyButton.innerText = '댓글 취소';
    } else {
       replyBox.style.display = 'none';
       replyButton.innerText = '댓글 작성';
    }
 }

window.addEventListener("DOMContentLoaded", function(){
    getNotificationList();
    const dateElements = document.querySelectorAll('.date-element');
    dateElements.forEach(function (element) {
         const dateString = element.textContent;
         const formattedDate = formatDateTime(dateString);
         element.textContent = formattedDate;
 });
});

</script>
</body>
</html>