<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<style>

</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<body>
<div class="container-fluid">
    <div th:include="common/header :: header"></div>


    <div class="row">


        <div class="col bg-light">

            <div class="row mt-3 mb-4"></div>
            <div class="row">
                <div class="col ms-5">

                    <div class="row mt-4">
                        <div class="col ms-2 bg-white rounded border border-1 px-3" style="min-height: 300px">

                            <div class="row mt-2">
                                <div class="col ms-3">

                                    <div class="row mt-2 mb-2"></div>
                                    <!-- 제목 -->
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn btn-sm cateButton fs-18">
                                                  <span th:if="${projectStudyCategory.name == '스터디'}">✏️</span>
                                                <i class="bi bi-pc-display-horizontal me-1 text-secondary" th:if="${projectStudyCategory.name == '프로젝트'}"></i>

                                                <span th:text="${projectStudyCategory.name}"></span>
                                            </button>
                                            <button class="btn btn-sm cateButton me-1 fs-18" th:each="tech: ${techCategoryList}">
                                                <span th:if="${tech.name == 'Java'}" class="text-danger">•</span>
                                                <span th:if="${tech.name == 'Spring'}" class="text-success">•</span>
                                                <span th:if="${tech.name == 'Spring Boot'}" class="text-success">•</span>
                                                <span th:if="${tech.name == 'C'}" style="color: #007aff;">•</span>
                                                <span th:if="${tech.name == 'Python'}" class="text-primary">•</span>
                                                <span th:if="${tech.name == 'React'}" style="color: #84ffff;">•</span>
                                                <span th:if="${tech.name == 'Vue'}" style="color: #4caf50;">•</span>
                                                <span th:if="${tech.name == 'NodeJS'}" style="color: #9c27b0;">•</span>
                                                <span th:if="${tech.name == 'Swift'}" style="color: #b71c1c;">•</span>
                                                <span th:if="${tech.name == 'Kotlin'}" style="color: #712cf9;">•</span>
                                                <span th:if="${tech.name == 'Git'}">•</span>
                                                <span th:if="${tech.name == 'AWS'}">•</span>
                                                <span th:if="${tech.name == 'Flutter'}">•</span>
                                                <span th:if="${tech.name == 'Docker'}">•</span>
                                                <span th:if="${tech.name == 'JavaScript'}" style="color: #712cf9;">•</span>
                                                <span th:if="${tech.name == 'TypeScript'}" class="text-primary">•</span>
                                                <span th:if="${tech.name == 'Django'}">•</span>
                                                <span th:if="${tech.name == 'PHP'}" class="text-secondary">•</span>
                                                <span th:if="${tech.name == 'SQL'}" style="color: #ff6f0f">•</span>
                                                <span class="ms-1" th:text="${tech.name}"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col fs-3 fw-semibold" th:text="${project.title}">

                                        </div>

                                    </div>
                                    <!-- 제목 -->

                                    <div class="row mt-1 mb-1"></div>
                                    <!-- 윗 상단 -->
                                    <div class="row mt-2">
                                        <div class="col-8">
                                            <div class="row">
                                                <div class="col-1">

                                                    <img class="rounded-circle mt-1" style="width: 50px; height: 50px;"
                                                         src="/img/user.jpg" th:if="${writerInfo.fileAttached == 0}">
                                                    <img class="rounded-circle mt-1" style="width: 50px; height: 50px;"
                                                         th:src="@{|/upload/${writerInfo.storedFileName}|}" th:if="${writerInfo.fileAttached == 1}">

                                                </div>
                                                <div class="col ms-2">
                                                    <div class="row">
                                                        <div class="col fw-semibold fs-5" th:text="${project.writer}">

                                                        </div>
                                                    </div>
                                                    <div class="row mt-1 text-secondary">
                                                        <div class="col">


                                                            <span class="date-element" th:text="${project.regDate}"></span>
<!--                                                            <span th:text="formatDateTime([[${project.regDate}]])"></span>-->
                                                            <span class="ms-1">
                                                                <i class="bi bi-eye"></i>
                                                            </span>
                                                            <span th:text="${project.readCount}"></span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col text-end me-1 mt-4">
                                            <div class="row">
                                                <div class="col">
                                                </div>
                                                <div class="col-1 mt-1 ps-0 dropdown" style="cursor: pointer;"
                                                     th:if="${session.userDTO != null and session.userDTO.id == project.userId}">
                                                    <i class="bi bi-three-dots-vertical" style="height: 10px" id="dropButton"
                                                       data-bs-toggle="dropdown" aria-expanded="false">
                                                    </i>
                                                    <ul class="dropdown-menu" aria-labelledby="dropButton">
                                                        <li>
                                                            <a class="dropdown-item" th:href="@{|/project/update/${project.id}|}">
                                                                <i class="bi bi-pencil-square"></i>
                                                                <span class="ms-1"> 수정하기 </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" onclick="deleteBoardReq()">
                                                                <i class="bi bi-trash3"></i>
                                                                <span class="ms-1"> 삭제하기 </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
<!--                                                <div class="col-1 mt-1 ps-0 me-2" style="cursor: pointer;"-->
<!--                                                     th:if="${session.userDTO != null and session.userDTO.id != project.userId}">-->
<!--                                                    <i class="bi bi-bookmark fs-5"></i>-->
<!--                                                </div>-->
                                            </div>

                                        </div>
                                    </div>
                                    <!-- 윗 상단 -->

                                    <div class="border-bottom mt-3"></div>
                                    <div class="row mt-2 mb-2"></div>

                                    <div class="row mt-4">
                                        <div class="col fw-semibold fs-4">
                                            모집 구분
                                        </div>
                                        <div class="col fw-semibold fs-4">
                                            모집 역할
                                        </div>
                                    </div>

                                    <div class="row mt-3 fs-5">
                                        <div class="col">
                                            <button class="btn btn-sm cateButton rounded rounded-4 fs-5">
                                                <span th:if="${projectStudyCategory.name == '스터디'}">✏️</span>
                                                <i class="bi bi-pc-display-horizontal me-1 text-secondary" th:if="${projectStudyCategory.name == '프로젝트'}"></i>
                                            </button>
                                            <span class="ms-1 fs-5" th:text="${projectStudyCategory.name}"></span>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-sm cateButton rounded rounded-4 fs-5" th:if="${positionCategory.name == '프론트엔드'}">
                                                <i class="bi bi-laptop text-success"></i>
                                            </button>
                                            <span class="ms-1 fs-5" th:if="${positionCategory.name == '프론트엔드'}">프론트엔드</span>
                                            <button class="btn btn-sm cateButton rounded rounded-4 fs-5" th:if="${positionCategory.name == '백엔드'}">
                                                <i class="bi bi-hdd text-success"></i>
                                            </button>
                                            <span class="ms-1 fs-5" th:if="${positionCategory.name == '백엔드'}">백엔드</span>
                                        </div>

                                    </div>



                                    <div class="row mt-5">
                                        <div class="col fw-semibold fs-4">
                                            모집 인원
                                        </div>
                                        <div class="col fw-semibold fs-4">
                                            사용 언어
                                        </div>
                                    </div>

                                    <div class="row mt-3 fs-5">
                                        <div class="col">
                                            <button class="btn btn-sm cateButton rounded rounded-4 fs-5">
                                                <i class="bi bi-people"></i>
                                            </button>
                                            <span class="ms-1" th:text="${project.headCount == 0 ? '인원 미정' : project.headCount == 10 ? '10명 이상' : project.headCount + '명'}"></span>
                                        </div>
                                        <div class="col">
                                             <span th:each="tech: ${techCategoryList}">
                                                <img src="/img/language/java.svg" class="lanLogo me-1" th:if="${tech.name == 'Java'}">
                                                <img src="/img/language/spring.svg" class="lanLogo me-1" th:if="${tech.name == 'Spring'}">
                                                <img src="/img/language/springboot.png" class="lanLogo me-1" th:if="${tech.name == 'Spring Boot'}">
                                                <img src="/img/language/aws.svg" class="lanLogo me-1" th:if="${tech.name == 'AWS'}">
                                                 <img src="/img/language/c.svg" class="lanLogo me-1" th:if="${tech.name == 'C'}">
                                                 <img src="/img/language/docker.svg" class="lanLogo me-1" th:if="${tech.name == 'Docker'}">
                                                 <img src="/img/language/git.svg" class="lanLogo me-1" th:if="${tech.name == 'Git'}">
                                                 <img src="/img/language/javascript.svg" class="lanLogo me-1" th:if="${tech.name == 'JavaScript'}">
                                                 <img src="/img/language/kotlin.png" class="lanLogo me-1" th:if="${tech.name == 'Kotlin'}">
                                                 <img src="/img/language/mysql.svg" class="lanLogo me-1" th:if="${tech.name == 'MySQL'}">
                                                 <img src="/img/language/nodejs.svg" class="lanLogo me-1" th:if="${tech.name == 'NodeJS'}">
                                                 <img src="/img/language/python.svg" class="lanLogo me-1" th:if="${tech.name == 'Python'}">
                                                 <img src="/img/language/swift.svg" class="lanLogo me-1" th:if="${tech.name == 'Swift'}">
                                                 <img src="/img/language/typescript.png" class="lanLogo me-1" th:if="${tech.name == 'TypeScript'}">
                                                 <img src="/img/language/vue.svg" class="lanLogo me-1" th:if="${tech.name == 'Vue'}">
                                                 <img src="/img/language/react.svg" class="lanLogo me-1" th:if="${tech.name == 'React'}">
                                                 <img src="/img/language/flutter.svg" class="lanLogo me-1" th:if="${tech.name == 'Flutter'}">
                                             </span>
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="col fw-semibold fs-4">
                                            진행 기간
                                        </div>
                                        <div class="col fw-semibold fs-4">
                                            모집 마감일
                                        </div>
                                    </div>

                                    <div class="row mt-3 fs-5">
                                        <div class="col">
                                            <button class="btn btn-sm cateButton rounded rounded-4 fs-5">
                                                <i class="bi bi-clock"></i>
                                            </button>
                                            <span class="ms-1" th:text="${periodCategory.name}"></span>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-sm cateButton rounded rounded-4 fs-5">
                                                <i class="bi bi-calendar-check"></i>
                                            </button>

                                            <span class="ms-1" th:text="${#dates.format(project.endDate, 'yyyy-MM-dd')}"></span>
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="col fs-4 fw-semibold">
                                            <span class="ms-1">소개</span>
                                        </div>
                                    </div>

                                    <!-- 내용 -->
                                    <div class="row mt-3">
                                        <div class="col fs-5 ms-1 boardContent" th:utext="${project.content}"></div>
                                    </div>

                                    <!-- 내용 -->
                                    <div class="row mt-5 mb-5"></div>
                                    <div class="row mt-5 mb-5"></div>
                                    <div class="border-bottom mt-4 mb-3"></div>

                                    <!-- 댓글 개수 -->
                                    <div class="row mt-1 fs-4">
                                        <div class="col ms-1">
                                            <span class="fw-semibold">댓글</span>
                                            <span class="text-primary fw-semibold" th:text="${commentCount}" id="commentCount"></span>
                                        </div>
                                    </div>
                                    <!-- 댓글 개수 -->

                                    <!-- 댓글 입력 폼 -->
                                    <div class="row mt-4">
                                        <div class="col-1 ms-1">
                                            <img class="rounded-circle" style="width: 55px; height: 55px;"
                                                 src="/img/user.jpg" th:if="${session.userDTO == null}">
                                            <img class="rounded-circle" style="width: 55px; height: 55px;"
                                                 src="/img/user.jpg" th:if="${session.userDTO != null && session.userDTO.fileAttached == 0}">
                                            <img class="rounded-circle" style="width: 55px; height: 55px;"
                                                 th:src="@{|/upload/${session.userDTO.storedFileName}|}" th:if="${session.userDTO != null && session.userDTO.fileAttached == 1}">
                                        </div>

                                        <div class="col ps-0">
                                            <textarea name="" id="commentContent" cols="10" rows="4"
                                                      class="form-control fs-5"  style="resize:none;"
                                                      th:if="${session.userDTO != null}"
                                                      placeholder="댓글을 작성하여 프로젝트와 스터디에 참여해보세요 !"
                                                      onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
                                            <textarea cols="10" rows="4"
                                                      class="form-control fs-5" style="resize:none; pointer-events: none;"
                                            th:if="${session.userDTO == null}"
                                            placeholder="로그인 후 댓글을 작성하실 수 있습니다."></textarea>

                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col text-end">
                                            <button class="btn mainButton px-3 fs-5" onclick="commentReq()"
                                                    th:if="${session.userDTO != null}">댓글 쓰기</button>
                                            <button class="btn mainButton px-3 disabled fs-5"
                                                    th:if="${session.userDTO == null}">댓글 쓰기</button>
                                        </div>
                                    </div>
                                    <!-- 댓글 입력 폼 -->

                                    <div class="row mt-3 mb-3"></div>
                                    <div class="border-bottom mb-4"></div>

                                    <!-- 댓글 목록 -->
                                    <div id="comment-list">
                                        <div class="row mb-2" th:each="comment: ${commentList}">
                                            <div class="col ms-1">

                                                <!-- 댓글 작성 정보 -->
                                                <div class="row">
                                                    <div class="col">

                                                        <div class="row">
                                                            <div class="col-2">
                                                                <img class="rounded-circle ms-2" style="width: 55px; height:55px;"
                                                                     src="/img/user.jpg" th:if="${comment.fileAttached == 0}">
                                                                <img class="rounded-circle ms-2" style="width: 55px; height:55px;"
                                                                     th:src="@{|/upload/${comment.storedFileName}|}" th:if="${comment.fileAttached == 1}">
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div class="col px-0 fw-semibold fs-5" th:text="${comment.writer}">

                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col px-0 text-secondary fs-18">
                                                                        <span th:text="${comment.jobName}"></span>
                                                                        <span>·</span>
                                                                        <span class="date-element" th:text="${comment.regDate}"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col text-end me-1">

                                                        <span>
                                                            <img src="/img/like.png" style="width: 30px; height: 30px; cursor: pointer;"
                                                            th:onclick="isYourCommentForLike([[${comment.id}]])">
                                                            <span th:id="'cmtLike_' + ${comment.id}" th:text="${comment.likeCount}"></span>
                                                        </span>
                                                        <span class="ms-2">
                                                             <img src="/img/dislike.png" style="width: 30px; height: 30px; cursor: pointer;"
                                                                  th:onclick="isYourCommentForDisLike([[${comment.id}]])">
                                                            <span th:id="'cmtDisLike_' + ${comment.id}" th:text="${comment.disLikeCount}"></span>
                                                        </span>
                                                        <span class="ms-1 text-end ps-0 dropdown" style="cursor: pointer;"
                                                              id="dropdownComment_${comment.id}"
                                                              th:if="${session.userDTO != null and session.userDTO.id == comment.userId}">
                                                            <i class="bi bi-three-dots-vertical" style="height: 10px" id="dropButtonComment"
                                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                            </i>
                                                            <ul class="dropdown-menu" aria-labelledby="dropButtonComment">
                                                                <li>
                                                                    <a class="dropdown-item" href="#">
                                                                        <i class="bi bi-pencil-square"></i>
                                                                        <span class="ms-1"> 수정하기 </span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" th:onclick="deleteCommentPage([[${comment.id}]])">
                                                                        <i class="bi bi-trash3"></i>
                                                                        <span class="ms-1"> 삭제하기 </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </div>

                                                </div>
                                                <!-- 댓글 작성 정보 -->

                                                <!-- 댓글 내용 정보 -->
                                                <div class="row mt-3">
                                                    <div class="col ms-1 boardContent fs-5" th:text="${comment.content}">
                                                    </div>
                                                </div>
                                                <!-- 댓글 내용 정보 -->

<!--                                                <div class="row mt-3" style="cursor: pointer;">-->
<!--                                                    <div class="col commentFont ms-1 mb-1 text-secondary"-->
<!--                                                         th:onclick="toggleReplyInputBox([[${comment.id}]])"-->
<!--                                                         th:id="'toggleReplyButton_' + ${comment.id}">-->
<!--                                                        댓글 작성-->
<!--                                                    </div>-->
<!--                                                </div>-->


                                                <!-- 댓글 -->
                                                <!-- 답글 입력 폼 -->
<!--                                                <div class="row" th:id="'toggleReplyInputBox_' + ${comment.id}" style="display: none;">-->
<!--                                                    <div class="col">-->
<!--                                                        <div class="row mt-3">-->
<!--                                                            <div class="col-1 ms-1">-->
<!--                                                                <img class="rounded-circle" style="width: 40px; height: 40px;"-->
<!--                                                                     src="/img/user2.jpg" th:if="${session.userDTO == null}">-->
<!--                                                                <img class="rounded-circle" style="width: 40px; height: 40px;"-->
<!--                                                                     src="/img/user2.jpg" th:if="${session.userDTO != null && session.userDTO.fileAttached == 0}">-->
<!--                                                                <img class="rounded-circle" style="width: 40px; height: 40px;"-->
<!--                                                                     th:src="@{|/upload/${session.userDTO.storedFileName}|}" th:if="${session.userDTO != null && session.userDTO.fileAttached == 1}">-->
<!--                                                            </div>-->

<!--                                                            <div class="col">-->
<!--                                                            <textarea name="" th:id="'replyContent_' + ${comment.id}" cols="10" rows="4"-->
<!--                                                                  class="form-control" ></textarea>-->
<!--                                                            </div>-->
<!--                                                        </div>-->

<!--                                                        <div class="row mt-3">-->
<!--                                                            <div class="col text-end">-->
<!--                                                                <button class="btn btn-primary px-3" th:onclick="replyReq([[${comment.id}]])"-->
<!--                                                                        th:if="${session.userDTO != null}">댓글 쓰기</button>-->
<!--                                                                <button class="btn btn-primary px-3 disabled"-->
<!--                                                                        th:if="${session.userDTO == null}">댓글 쓰기</button>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="row mt-2 mb-3"></div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                                <!-- 답글 입력 폼 -->
                                                <div class="row mt-2 mb-2"></div>
                                                <div class="border-bottom mt-1 mb-3"></div>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- 댓글 목록 -->



                                    <div class="row mt-3 mb-3"></div>





                                </div>
                            </div>




                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-9 ms-5 bg-white border border-1" style="min-height: 300px">
                                    <div class="row mt-5">
                                        <div class="col d-flex justify-content-center">
                                           <img src="/img/user.jpg" class="rounded-circle" style="width: 140px; height: 140px;"
                                                th:if="${writerInfo.fileAttached == 0}">
                                           <img th:src="@{|/upload/${writerInfo.storedFileName}|}" class="rounded-circle" style="width: 140px; height: 140px;"
                                                th:if="${writerInfo.fileAttached == 1}">
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col fw-semibold fs-4 d-flex justify-content-center" th:text="${writerInfo.nickname}"></div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col d-flex justify-content-center text-secondary" th:text="${job.name}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-9 ms-5 d-grid ps-0 pe-0">
                                    <button class="btn mt-3 mainButton p-2 fs-5" style="font-size: 18px"
                                    onclick="sendMessageModal()" th:if="${session.userDTO != null}">채팅하기</button>
                                    <button class="btn mt-3 mainButton p-2 fs-5" style="font-size: 18px"
                                            onclick="location.href='/user/loginPage'" th:if="${session.userDTO == null}">채팅하기</button>
                                    <button class="btn mt-2 btn-outline-dark p-2 fs-5"
                                     th:onclick="toggleProjectClip(([[${project.id}]]))">
                                        <i class="bi bi-bookmark clipBox" th:if="${clipCount == 0}"></i>
                                        <i class="bi bi-bookmark-fill clipBox" th:if="${clipCount == 1}"></i>
                                        <span style="font-size: 18px">스크랩</span>
                                    </button>
                                </div>
                            </div>


                            <div class="row mt-4">
                                <div class="col-9 ms-5 bg-white rounded border border-1" style="min-height: 300px">
                                    <div class="row mt-2">
                                        <div class="col ms-2">

                                            <div class="row mt-1">
                                                <div class="col-1">
                                                    <i class="bi bi-dot" style="color: #ff6f0f;"></i>
                                                </div>
                                                <div class="col px-1 fw-semibold">
                                                    이런 프로젝트 / 스터디는 어떠신가요?
                                                </div>
                                            </div>

                                            <!-- -->
                                            <div class="row mt-4" th:each="randomProject: ${randomProjectList}">
                                                <div class="col">

                                                    <div class="row">
                                                        <div class="col-1">
                                                            <img class="rounded-circle" style="width: 30px; height: 30px"
                                                                 src="/img/user.jpg" th:if="${randomProject.fileAttached == 0}">
                                                            <img class="rounded-circle" style="width: 30px; height: 30px"
                                                                 th:src="@{|/upload/${randomProject.storedFileName}|}" th:if="${randomProject.fileAttached == 1}">
                                                        </div>
                                                        <div class="col ms-1 fs-18 text-secondary fw-semibold"
                                                             th:text="${randomProject.writer}">

                                                        </div>
                                                    </div>


                                                    <div class="row mt-1">
                                                        <a th:href="@{|/project/${randomProject.id}|}">
                                                            <div class="col fw-semibold overflow fs-18" style="width: 400px"
                                                                 th:text="${randomProject.title}">
                                                            </div>
                                                        </a>
                                                    </div>

                                                </div>
                                                <div class="mb-2"></div>
                                            </div>
                                            <!-- -->
                                            <div class="mb-4"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>


<!-- 게시글 삭제 alert -->
<div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">게시글 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row text-center">
                    <div class="col">
                        게시글을 삭제하시겠습니까?
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input type="button" class="btn btn-outline-dark fw-semibold" value="확인" onclick="deleteBoard()">
                <button type="button" class="btn mainButton" data-bs-dismiss="modal">취소</button>
            </div>

        </div>
    </div>
</div>
<!-- 게시글 삭제 alert -->


<!-- 댓글 삭제 alert -->
<div class="modal" id="deleteCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">댓글 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row text-center">
                    <div class="col">
                        댓글을 삭제하시겠습니까?
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input type="button" class="btn btn-outline-dark fw-semibold" value="확인" onclick="deleteComment()">
                <button type="button" class="btn mainButton" data-bs-dismiss="modal">취소</button>
            </div>

        </div>
    </div>
</div>
<!-- 댓글 삭제 alert -->



<!-- 댓글 좋아요 / 싫어요 alert -->
<div class="modal" id="alertNoLikeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">알림</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row text-center">
                    <div class="col fs-18 ">
                        본인이 작성하신 댓글에 좋아요 / 싫어요를 클릭하실 수 없습니다.
                    </div>
                </div>

                <div class="mt-2"></div>

            </div>

<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">창닫기</button>-->
<!--            </div>-->

        </div>
    </div>
</div>
<!-- 댓글 좋아요 / 싫어요 alert -->


<!-- 댓글 좋아요 / 싫어요 한번만 클릭 alert -->
<div class="modal" id="alertLikeCheckModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">알림</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row text-center">
                    <div class="col">
                        한 댓글에 좋아요, 싫어요는 한 번만 클릭하실 수 있습니다.
                    </div>
                </div>

                <div class="row mt-2"></div>

            </div>



        </div>
    </div>
</div>
<!-- 댓글 좋아요 / 싫어요 alert -->


<!-- 메시지 전송 모달 -->
<div class="modal" id="sendMessageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <div class="row">
                    <div class="col ms-2 fw-semibold fs-4">
                        메시지 작성
                    </div>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-3">

                <div class="mt-3 mb-3"></div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-10">

                        <div class="row">
                            <div class="col-2">
                                <img src="/img/user.jpg" class="rounded-circle" style="width: 100px; height: 100px;"
                                     th:if="${writerInfo.fileAttached == 0}">
                                <img th:src="@{|/upload/${writerInfo.storedFileName}|}" class="rounded-circle" style="width: 100px; height: 100px;"
                                     th:if="${writerInfo.fileAttached == 1}">
                            </div>
                            <div class="col ms-4">

                                <div class="row mt-1">
                                    <div class="col fw-semibold" th:text="${writerInfo.nickname}"
                                    style="font-size: 22px">

                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col" th:text="${job.name}"></div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col text-secondary" th:text="${project.title}"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">

                                <input type="hidden" name="receiverId" th:value="${project.userId}">
                                <textarea  rows="10" class="form-control"
                                style="resize: none; font-size: 18px"
                                placeholder="프로젝트 / 스터디에 대해 문의하거나, 팀원으로 지원해보세요."
                               id="messageContent" name="content"></textarea>


                            </div>
                        </div>

                        <div class="row mt-2" style="display: none;" id="alertMessageBox">
                            <div class="col text-danger">
                                메시지 내용을 입력해주세요.
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col d-grid">
                                <button class="mainButton btn p-2 fs-4"
                                        onclick="sendMessage()">보내기</button>
                            </div>
                        </div>
                        </form>

                    </div>
                    <div class="col">

                    </div>
                </div>


            </div>


        </div>
    </div>
</div>
<!-- 메시지 전송 모달 -->


<!-- 메시지 전송 성공 alert -->
<div class="modal" id="sendSuccessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">알림</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row text-center">
                    <div class="col">
                        메시지 전송 요청을 보냈습니다.
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">창닫기</button>
            </div>

        </div>
    </div>
</div>
<!-- 메시지 전송 성공 alert -->

<script th:inline="javascript">

    /*<![CDATA[*/
       let sessionId = [[${session.userDTO != null ? session.userDTO.id : 0}]];
   /*]]>*/

   /*<![CDATA[*/
       let sessionUser = [[${session.userDTO}]];
   /*]]>*/

   /*<![CDATA[*/
        let selectedCommentId = null;
   /*]]>*/

   /*<![CDATA[*/
        let commentPk = null;
   /*]]>*/

   /*<![CDATA[*/
        let projectPk = [[${project.id}]];
   /*]]>*/

    /*<![CDATA[*/
        let projectUserId = [[${project.userId}]];
    /*]]>*/

</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/project/detail.js}"></script>
</body>
</html>