<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeSpace | 개발자들의 공간</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>
<style>

</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<body>
<div class="container-fluid">
    <div th:include="common/header :: header"></div>

    <div class="row mt-3">

        <div class="col">
            <img src="/img/tempBanner.png" class="img-fluid" alt="">
        </div>

    </div>

    <div class="mt-5 mb-4"></div>
    <div class="row">
        <div class="col"></div>


        <!-- 가운데 바 -->
        <div class="col-11">
        <div class="row">
        <!-- 왼쪽 바 시작 -->
        <div class="col">

            <div class="row mt-2">
                <a href="/project" class="menu-link1 text-secondary fw-medium">
                    <div class="col fs-4">
                        전체보기
                    </div>
                </a>
            </div>

            <div class="row mt-4">

                <a href="/project/category/pro" class="menu-link2 text-secondary fw-medium">
                    <div class="col fs-4">
                        팀 프로젝트
                    </div>
                </a>
          <!--      <a href="/project/pro" class="menu-link2 text-secondary fw-medium">
                    <div class="col fs-4">
                        팀 프로젝트
                    </div>
                </a>-->
            </div>

            <div class="row mt-4">

                <a href="/project/category/study" class="menu-link3 text-secondary fw-medium">
                    <div class="col fs-4" >
                        스터디
                    </div>
                </a>
           <!--     <a href="/project/study" class="menu-link3 text-secondary fw-medium">
                    <div class="col fs-4" >
                        스터디
                    </div>
                </a>-->
            </div>

            <div class="row mt-5">
                <div class="col-8 rounded-1 border">

                    <div class="row mt-3">
                    <div class="col ms-2">

                        <div class="row">
                            <div class="col fw-semibold">
                                Top Writers
                            </div>
                        </div>
                        <div class="mt-3 mb-2"></div>
                        <!-- Top writers loop -->
                        <div class="row mt-2" th:each="writer : ${topWriters}">
                            <div class="col-2">
                                <img src="/img/user.jpg" class="rounded-circle" alt="" style="width: 30px; height: 30px;"
                                th:if="${writer.fileAttached == 0}">
                                <img th:src="@{|/upload/${writer.storedFileName}|}" class="rounded-circle" alt="" style="width: 30px; height: 30px;"
                                     th:if="${writer.fileAttached == 1}">
                            </div>
                            <div class="col-8 mt-1 fw-semibold fs-16 overflow" style="width: 145px"
                            th:text="${writer.nickname}">

                            </div>
                            <div class="col-2 mt-1 text-secondary text-end me-2 fs-16"
                            th:text="${writer.totalCount}">

                            </div>
                        </div>
                        <!-- Top writers loop -->
                        <div class="mt-3 mb-2"></div>
                    </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- 왼쪽 바 끝 -->

        <!-- 가운데 바 시작 -->
        <div class="col-7">

            <div class="row fs-4">
                <div class="col-auto">

                    <a th:href="@{/project(page=${projectList.number + 1})}" class="status-item1" th:if="${category == null}">
                        전체
                    </a>
                    <a th:href="@{|/project/category/${category}|(page=${projectList.number + 1})}" class="status-item1"
                       th:if="${category != null}">
                        전체
                    </a>
                </div>

                <div class="col-auto">

                    <a th:href="@{|/project?status=unrecruited|(page=${projectList.number + 1})}" class="status-item2"
                    th:if="${category == null}">
                        모집중
                    </a>
                    <a th:href="@{|/project/category/${category}?status=unrecruited|(page=${projectList.number + 1})}" class="status-item2"
                       th:if="${category != null}">
                        모집중
                    </a>

                </div>

                <div class="col">

                    <a th:href="@{|/project?status=recruited|(page=${projectList.number + 1})}" class="status-item3"
                       th:if="${category == null}">
                        모집완료
                    </a>
                    <a th:href="@{|/project/category/${category}?status=recruited|(page=${projectList.number + 1})}" class="status-item3"
                       th:if="${category != null}">
                        모집완료
                    </a>

                </div>

            </div>

            <div class="row mt-4">
                <div class="col-10">
                    <input type="text" class="form-control p-3 fs-5"
                    placeholder="관심있는 팀 프로젝트를 검색해보세요!">
                </div>
                <div class="col d-grid pe-0">
                    <button class="btn orangeButton fs-5">검색</button>
                </div>
            </div>

            <!-- 정렬 -->
            <div class="row mt-5 text-secondary">
                <div class="col-auto sort-item1 text-black">
                    <a href="/project" th:if="${category == null && status == null}">
                        <span class="point-item1 text-secondary">•</span>
                        <span class="order-item1 text-secondary">최신순</span>
                    </a>
                    <a th:href="@{|/project/category/${category}|}" th:if="${category != null && status == null}">
                        <span class="point-item1 text-secondary">•</span>
                        <span class="order-item1 text-secondary">최신순</span>
                    </a>
                    <a th:href="@{|/project/category/${category}?status=${status}|}" th:if="${category != null and status != null}">
                        <span class="point-item1 text-secondary">•</span>
                        <span class="order-item1 text-secondary">최신순</span>
                    </a>
                    <a th:href="@{|/project?status=${status}|}" th:if="${category == null and status != null}">
                        <span class="point-item1 text-secondary">•</span>
                        <span class="order-item1 text-secondary">최신순</span>
                    </a>
                </div>
                <div class="col-auto sort-item2">
                    <a th:href="@{|/project?order=comment|}" th:if="${category == null && status == null}">
                        <span class="point-item2 text-secondary">•</span>
                        <span class="order-item2 text-secondary">댓글많은순</span>
                    </a>
                    <a th:href="@{|/project/category/${category}?order=comment|}" th:if="${category != null && status == null}">
                        <span class="point-item2 text-secondary">•</span>
                        <span class="order-item2 text-secondary">댓글많은순</span>
                    </a>

                    <a th:href="@{|/project/category/${category}?order=comment&status=${status}|}" th:if="${category != null and status != null}">
                        <span class="point-item2 text-secondary">•</span>
                        <span class="order-item2 text-secondary">댓글많은순</span>
                    </a>
                    <a th:href="@{|/project?order=comment&status=${status}|}" th:if="${category == null && status != null}">
                        <span class="point-item2 text-secondary">•</span>
                        <span class="order-item2 text-secondary">댓글많은순</span>
                    </a>

                </div>
                <div class="col sort-item3">
                    <a th:href="@{|/project?order=clip|}" th:if="${category == null && status == null}">
                        <span class="point-item3 text-secondary">•</span>
                        <span class="order-item3 text-secondary">스크랩순</span>
                    </a>
                    <a th:href="@{|/project/category/${category}?order=clip|}" th:if="${category != null && status == null}">
                        <span class="point-item3 text-secondary">•</span>
                        <span class="order-item3 text-secondary">스크랩순</span>
                    </a>

                    <a th:href="@{|/project/category/${category}?order=clip&status=${status}|}" th:if="${category != null && status != null}">
                        <span class="point-item3 text-secondary">•</span>
                        <span class="order-item3 text-secondary">스크랩순</span>
                    </a>

                    <a th:href="@{|/project?&order=clip&status=${status}|}" th:if="${category == null && status != null}">
                        <span class="point-item3 text-secondary">•</span>
                        <span class="order-item3 text-secondary">스크랩순</span>
                    </a>
                </div>
                <div class="col text-end pe-0">
                    <button class="btn mainButton px-3 py-2 fs-18 rounded-1" onclick="location.href='/project/write'">
                        <i class="bi bi-pencil"></i>
                        <span class="ms-1">글쓰기</span>
                    </button>
                </div>
            </div>
            <!-- 정렬 -->

            <div class="mt-3 mb-2"></div>

            <!-- 목록 -->
            <div class="row border-top border-2"></div>
            <!-- loop -->
            <div class="row contentDiv" th:each="project: ${projectList}">
                <!--<a th:href="@{|/project/${project.id}|}">-->
                <a th:href="@{|/project/${project.id}}">
                <div class="col" style="min-height: 180px">
                    <div class="mt-3"></div>
                    <div class="row mt-2">
                        <div class="col-auto">
                            <button class="btn recruitButton rounded-4 btn-sm fs-16"
                            th:if="${project.status == '모집중'}">
                                모집중
                            </button>
                            <button class="btn unRecruitButton rounded-4 btn-sm fs-16"
                                    th:if="${project.status == '모집완료'}">
                                모집완료
                            </button>
                        </div>

                        <div class="col fw-semibold ps-0 fs-22" th:text="${project.title}">

                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col overflow-list fs-18 text-secondary" th:text="${project.content}">

                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <button class="btn btn-sm cateButton fs-18">
                                <span th:text="${project.projectStudy}"></span>
                            </button>
                            <button class="btn btn-sm cateButton me-1 fs-18" th:each="tech: ${project.techList}">
                                <span th:if="${tech == 'Java'}" class="text-danger">•</span>
                                <span th:if="${tech == 'Spring'}" class="text-success">•</span>
                                <span th:if="${tech == 'Spring Boot'}" class="text-success">•</span>
                                <span th:if="${tech == 'C'}" style="color: #007aff;">•</span>
                                <span th:if="${tech == 'Python'}" class="text-primary">•</span>
                                <span th:if="${tech == 'React'}" style="color: #14D3FF;">•</span>
                                <span th:if="${tech == 'Vue'}" style="color: #4caf50;">•</span>
                                <span th:if="${tech == 'NodeJS'}" style="color: #9c27b0;">•</span>
                                <span th:if="${tech == 'Swift'}" style="color: #b71c1c;">•</span>
                                <span th:if="${tech == 'Kotlin'}" style="color: #712cf9;">•</span>
                                <span th:if="${tech == 'Git'}" style="color: #FF9100">•</span>
                                <span th:if="${tech == 'AWS'}" style="color: #FF9100">•</span>
                                <span th:if="${tech == 'Flutter'}">•</span>
                                <span th:if="${tech == 'Docker'}">•</span>
                                <span th:if="${tech == 'JavaScript'}" style="color: #712cf9;">•</span>
                                <span th:if="${tech == 'TypeScript'}" class="text-primary">•</span>
                                <span th:if="${tech == 'Django'}">•</span>
                                <span th:if="${tech == 'PHP'}" class="text-secondary">•</span>
                                <span th:if="${tech == 'MySQL'}" style="color: #ff6f0f">•</span>
                                <span class="ms-1" th:text="${tech}"></span>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-3 fs-18 text-secondary">
                        <div class="col">
                            <span th:text="${project.writer}"></span>
                            <span class="ms-1">•</span>
                            <span class="ms-1" th:text="${project.formattedDate}"></span>
                        </div>
                        <div class="col text-secondary text-end">
                            <span class="me-2">
                                <i class="bi bi-bookmark"></i>
                                <span th:text="${project.clipCount}"></span>
                            </span>
                            <span class="me-2">
                                <i class="bi bi-eye"></i>
                                <span th:text="${project.readCount}"></span>
                            </span>
                            <span>
                                <i class="bi bi-chat"></i>
                                 <span th:text="${project.commentCount}"></span>
                           </span>

                        </div>
                    </div>
                    <div class="mt-3"></div>
                </div>
                </a>
                <div class="border-bottom border-2"></div>
            </div>
            <!-- loop -->



            <div class="row mt-5">
                <div class="col text-center">

                    <a th:href="${projectList.first} ? '#' : @{/project(page=${projectList.number})}">
                        <button class="btn btn-outline-dark me-4"><</button>
                    </a>

                    <span th:if="${endPage == 0}">
                            <button class="btn mainButton me-2">1</button>
                        </span>

                    <span th:each="page: ${#numbers.sequence(startPage, endPage)}" th:if="${endPage != 0}">

                        <span th:if="${page == projectList.number + 1}">
                            <button class="btn mainButton me-2" th:text="${page}"></button>
                        </span>

                        <span th:unless="${page == projectList.number + 1}">
                            <a th:href="@{|/project?page=${page}|}" th:if="${category == null && status == null && order == null}">
                                <button class="btn btn-outline-dark me-2" th:text="${page}"></button>
                            </a>
                             <a th:href="@{|/project/category/${category}?page=${page}|}" th:if="${category != null && status == null && order == null}">
                                <button class="btn btn-outline-dark me-2" th:text="${page}"></button>
                            </a>
                             <a th:href="@{|/project?status=${status}&page=${page}|}" th:if="${category == null && status != null && order == null}">
                                <button class="btn btn-outline-dark me-2" th:text="${page}"></button>
                            </a>
                            <a th:href="@{|/project?order=${order}&page=${page}|}" th:if="${category == null && status == null && order != null}">
                                <button class="btn btn-outline-dark me-2" th:text="${page}"></button>
                            </a>
                              <a th:href="@{|/project/category/${category}?status=${status}&page=${page}|}" th:if="${category != null && status != null && order == null}">
                                <button class="btn btn-outline-dark me-2" th:text="${page}"></button>
                            </a>
                              <a th:href="@{|/project?order=${order}&status=${status}&page=${page}|}" th:if="${category == null && status != null && order != null}">
                                <button class="btn btn-outline-dark me-2" th:text="${page}"></button>
                            </a>
                                <a th:href="@{|/project/category/${category}?order=${order}&page=${page}|}" th:if="${category != null && status == null && order != null}">
                                <button class="btn btn-outline-dark me-2" th:text="${page}"></button>
                            </a>
                            <a th:href="@{|/project/category/${category}?status=${status}&order=${order}&page=${page}|}" th:if="${category != null && status != null && order != null}">
                                <button class="btn btn-outline-dark me-2" th:text="${page}"></button>
                            </a>
                        </span>
                    </span>

                    <a th:href="${projectList.last} ? '#' : @{/project(page=${projectList.number + 2})}">
                        <button class="btn btn-outline-dark ms-3"> > </button>
                    </a>


                </div>
            </div>

            <!-- 목록 -->



        </div>
        <!-- 가운데 바 끝 -->

        <!-- 오른쪽 바 시작 -->
        <div class="col">

            <!-- 최신 인기글 -->
            <div class="row mt-2">
                <div class="col-10 ms-5 border rounded rounded-1">

                    <div class="row mt-2">
                        <div class="col ms-2">

                            <div class="row mt-2">
                                <div class="col fs-18 fw-semibold">
                                    최신 인기글 🔥
                                </div>
                            </div>

                            <div class="mt-4 mb-2"></div>

                            <!-- 인기글 반복문 -->
                            <div class="row mt-2" th:each="topProject : ${topProjectList}">
                                <a th:href="@{|/project/${topProject.id}|}">
                                <div class="col contentDiv py-2">
                                    <div class="row">
                                        <div class="col overflow-list fs-16 fw-semibold" th:text="${topProject.title}">

                                        </div>
                                    </div>
                                    <div class="row fs-16 mt-1">
                                        <div class="col-1">
                                            <img src="/img/user.jpg" style="width: 26px; height: 26px" class="rounded-circle" alt=""
                                            th:if="${topProject.fileAttached == 0}">
                                            <img th:src="@{|/upload/${topProject.storedFileName}|}" style="width: 26px; height: 26px" class="rounded-circle" alt=""
                                                 th:if="${topProject.fileAttached == 1}">
                                        </div>
                                        <div class="col ms-2 " th:text="${topProject.writer}">

                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <!-- 인기글 반복문 -->

                            <div class="mt-3 mb-3"></div>

                        </div>
                    </div>


                </div>
            </div>
            <!-- 최신 인기글 -->


        </div>
        <!-- 오른쪽 바 끝 -->

        </div>




        </div>
        <!-- --->
        <div class="col">

        </div>
    </div>
    <div class="mt-5 mb-5"></div>
</div>

<script th:inline="javascript">

    /*<![CDATA[*/
      let sessionId = [[${session.userDTO != null ? session.userDTO.id : 0}]];
  /*]]>*/


</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/project/list.js}"></script>
</body>
</html>