<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>main</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<style>

</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<body>
<div class="container-fluid">
  <div th:include="common/header :: header"></div>
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-4 mb-1"></div>
  <div class="row">
    <div class="col"></div>
    <div class="col-6">


      <div class="row mt-2">
        <div class="col"></div>
        <div class="col-6">

          <div class="row">
            <div class="col fw-bold fs-2">
              회원가입
            </div>
          </div>

          <!--  회원가입 란 -->
          <form action="/user/joinProcess" method="post" id="frm" enctype="multipart/form-data">
          <div class="row mt-4">
            <div class="col">

              <div class="row">
                <div class="col me-2">
                  이메일
                </div>
              </div>

              <div class="row mt-2">
                <div class="col text-center">
                  <input type="text" class="form-control p-3" placeholder="이메일 계정"
                  id="userEmail" name="email">
                </div>
              </div>

              <div class="row mt-3">
                <div class="col me-2">
                  닉네임
                </div>
              </div>

              <div class="row mt-2">
                <div class="col text-center">
                  <input type="text" class="form-control p-3" placeholder="닉네임 입력"
                  id="userNickname" name="nickname">
                </div>
              </div>

              <div class="row mt-3">
                <div class="col me-2">
                  비밀번호
                </div>
              </div>

              <div class="row mt-2">
                <div class="col text-center">
                  <input type="password" class="form-control p-3 bg-light" placeholder="비밀번호 입력"
                  id="userPassword" name="password">
                </div>
              </div>

              <div class="row mt-2 mb-2">
                <div class="col text-center">
                  <input type="password" class="form-control p-3 bg-light" placeholder="비밀번호 확인"
                  id="userPasswordCheck">
                </div>
              </div>

              <div class="row mt-3">
                <div class="col me-2">
                  프로필사진
                </div>
              </div>

              <div class="row mt-2">
                <div class="col text-center">
                  <input type="file" class="form-control p-3"
                  id="profile_img_link" name="profileImageFile"
                 accept="image/*">
                </div>
              </div>

              <div class="row mt-4">
                <div class="col d-grid">
                  <input type="button" class="btn mainButton p-3 fs-5" value="가입 완료하기"
                   onclick="checkValueAndSubmit()">
                </div>
              </div>

              <div class="row mt-4 mb-5"></div>

            </div>
          </div>
          </form>
          <!--  회원가입 란 -->

        </div>
        <div class="col"></div>
      </div>




    </div>
    <div class="col"></div>
  </div>
</div>

<!-- 회원가입 완료 Modal -->
<div class="modal" id="joinSuccessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light">

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mt-2">
          <div class="col text-center">
            회원가입이 완료되었습니다.
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">창닫기</button>
      </div>
    </div>
  </div>
</div>
<!--  Modal -->

<script th:inline="javascript">
  /*<![CDATA[*/
      let sessionId = [[${session.userDTO != null ? session.userDTO.id : 0}]];
  /*]]>*/

   // 회원가입 프로세스
   const checkValueAndSubmit = () => {

       const email = document.querySelector("#userEmail");
       const nickname = document.querySelector("#userNickname");
       const password = document.querySelector("#userPassword");
       const passwordCheck = document.querySelector("#userPasswordCheck");

       if (email.value.trim() == "") {
         alert("이메일을 입력해주세요.");
         email.focus();
         return;
       } else if (nickname.value.trim() == "") {
         alert("닉네임을 입력해주세요.");
         nickname.focus();
         return;
       } else if (password.value.trim() == "") {
         alert("비밀번호를 입력해주세요.");
         password.focus();
         return;
       } else if (passwordCheck.value.trim() == "") {
         alert("비밀번호 확인란을 입력해주세요.");
         passwordCheck.focus();
         return;
       } else if (password.value != passwordCheck.value) {
         alert("비밀번호가 일치하지 않습니다.");
         passwordCheck.value = "";
         passwordCheck.focus();
         return;
       } else {
         const frm = document.querySelector("#frm");
         frm.submit();

         const joinSuccessModal = bootstrap.Modal.getOrCreateInstance("#joinSuccessModal");
         joinSuccessModal.show();

         setTimeout(function() {
            joinSuccessModal.hide();
         }, 5000);

   }
 }


   const getNotificationList = () => {
        $.ajax({
         type: "get",
         url: "/notification/findAll/" + sessionId,
         success: function(res) {
            let output = "";
             if (res.length == 0) {
                output += '<div class="text-center mb-3"> 읽지 않은 알림이 존재하지 않습니다. </div>';
            } else {
              for (let i in res) {
                output += '<a href="' + res[i].notUrl + '">';
                output += '<div class="row mt-2">';
                output += '<div class="col ms-3">';

                output += '<div class="row">';
                output += '<div class="col-1">';
                if (res[i].fileAttached == 0) {
                    output += '<img src="/img/user.jpg" class="rounded-circle" style="width: 28px; height: 28px; position: relative; bottom: 1px">';
                } else if (res[i].fileAttached == 1) {
                    output += '<img class="rounded-circle" src="/upload/' + res[i].storedFileName + '" style="width: 28px; height: 28px; position: relative; bottom: 1px">';
                }
                output += '</div>';
                output += '<div class="col ms-2 fw-semibold">' + res[i].sender + '</div>';
                output += '<div class="col text-end text-secondary me-1">' + formatDateTime(res[i].occurDate) + '</div>';
                output += '</div>';

                output += '<div class="row">';
                output += '<div class="col-1">';
                output += '</div>';
                output += '<div class="col ms-2">' + res[i].sentence + '</div>';
                output += '</div>';

                output += '<div class="border-bottom mt-2">' + '</div>';

                output += '</div>';
                output += '</div>';
                output += '</a>';
                }
            }
            document.getElementById('notification-list').innerHTML = output;
         },
         error: function(err) {
             return;
         }
     });
  }

window.addEventListener("DOMContentLoaded", function(){
    getNotificationList();

});


</script>
</body>
</html>