<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<style>

</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<body>
<div class="container-fluid">
    <div th:include="common/header :: header"></div>

    <div class="row">
        <div class="col-md-3" th:include="common/sidemenu :: sidemenu">
            <!--      <div th:include="common/sidemenu :: sidemenu"></div>-->
        </div>

        <div class="col-md-8">

            <div class="row mt-3 mb-4"></div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col">

                <div class="row">
                <!----------->
                <div class="col-5">
                    <div class="row">
                        <div class="col fw-semibold fs-5">
                            채팅
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-outline-dark btn-sm rounded rounded-4">
                                <i class="bi bi-chat-quote"></i>
                                <span class="ms-1">안 읽은 메시지</span>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <input type="text" class="form-control rounded rounded-4" placeholder="검색"
                            style="text-indent: 29px">
                            <i class="bi bi-search" style="position: relative; bottom: 30px; left: 14px;"></i>
                        </div>
                    </div>

                    <div class="mt-1 mb-1"></div>


                    <div class="row mt-2" th:each="room : ${chatRoomList}">
                        <div class="col contentDiv py-2"  th:onclick="getChatList([[${room.roomId}]])">

                            <div class="row">
                                <div class="col-2">
                                    <img src="/img/user.jpg" class="rounded-circle" style="width: 50px; height: 50px;"
                                    th:if="${room.fileAttached == 0}">
                                    <img th:src="@{|/upload/${room.storedFileName}|}" class="rounded-circle" style="width: 50px; height: 50px;"
                                         th:if="${room.fileAttached == 1}">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <span class=fw-semibold th:text="${room.nickname}"></span>
                                            <span class="ms-2 text-secondary date-element" th:text="${room.regDate}"></span>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col" th:text="${room.content}">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--------------------------->

                    <!--------------------------->

                </div>
               <!----------->
                <div class="col ms-3">

                <div class="row">
                    <div class="col-1 fs-5 fw-semibold" style="cursor: pointer;">
                        ←
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-1" id="imgCol">

                            </div>
                            <div class="col ms-3">
                                <div class="row">
                                    <div class="col fw-semibold fs-18" id="nameCol">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-secondary fs-14" id="jobCol">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border-bottom mt-3 mb-2"></div>
                 <!-- 채팅 -->
                <div class="row">
                    <div class="col">

                        <div id="chatList"></div>
                        <!-- 채팅 -->
                        <div class="mt-5 mb-4"></div>
                        <div class="row">
                            <div class="col rounded rounded-4 border d-grid">
                               <div class="row">
                                   <div class="col">
                                     <textarea name=""  cols="10" rows="2"
                                       class="form-control form-control-no-border ps-0" style="resize:none; text-indent: 12px; font-size: 18px"
                                       placeholder="메시지를 입력해주세요."
                                       onkeydown="resize(this)" onkeyup="resize(this)"
                                     id="chatContent"></textarea>
                                   </div>
                               </div>
                                <div class="row">
                                    <div class="col text-end">
                                        <i class="bi bi-send fs-4" style="cursor: pointer"
                                        onclick="sendMessage()"> </i>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>


                </div>
                </div>

                </div>
            </div>


        </div>
    </div>
</div>




<!--  Modal -->
<script th:inline="javascript">

    /*<![CDATA[*/
        let sessionId = [[${session.userDTO != null ? session.userDTO.id : 0}]];
    /*]]>*/

    /*<![CDATA[*/
        let selectedRoomId = null;
    /*]]>*/

    recentChatList
    // 최근 채팅방 조회
    const getRecentChatList = (sessionId) => {
        $.ajax({
         type: "get",
         url: "/chat/recentChatList/" + sessionId,
         success: function(res) {



         }, error: function(err) {
             return;
         }
      });



    }


    // 채팅방 접속
    const getChatList = (roomId) => {
        selectedRoomId = roomId;
        getUserInfo(roomId);
        loadChatList(roomId);
    }


    // 채팅 상대방 정보 조회
    const getUserInfo = (roomId) => {
        const nameCol = document.querySelector("#nameCol");
        const jobCol = document.querySelector("#jobCol");
        const imgCol = document.querySelector("#imgCol");
        $.ajax({
         type: "get",
         url: "/chat/getUserInfo/" + roomId,
         success: function(res) {
            nameCol.innerText = res.nickname;
            jobCol.innerText = res.jobName;

            if (res.fileAttached == 0) {
                const imgElement = '<img src="/img/user.jpg" class="mt-1 rounded-circle" style="width: 40px; height: 40px;">';
                imgCol.innerHTML = imgElement;
            } else if (res.fileAttached == 1) {
                const imgElement = '<img src="/upload/' + res.storedFileName + '" class="mt-1 rounded-circle" style="width: 40px; height: 40px;">';
                imgCol.innerHTML = imgElement;
            }

         }, error: function(err) {
             return;
         }
      });
    }




    // 채팅방에 있는 채팅 기록 조회
    const loadChatList = (roomId) => {
        $.ajax({
         type: "get",
         url: "/chat/list/" + roomId,
         success: function(res) {

            let output = "";
            let yearMonthDay = null;
            for (let i in res) {

                 const entireRegDate = new Date(res[i].regDate);
                 const year = entireRegDate.getFullYear();
                 const month = entireRegDate.getMonth() + 1;
                 const day = entireRegDate.getDate();
                 const formattedDateHappen = year + '년 ' + month + '월 ' + day + '일';

                 if (yearMonthDay != formattedDateHappen) {
                   output += '<div class="row mt-2 mb-3 text-center">';
                   output += '<div class="col">' + formattedDateHappen + '</div>';
                   output += '</div>';
                   yearMonthDay = formattedDateHappen;
                }


                // 상대방이 보낸 채팅일 경우
                if (sessionId != res[i].senderId) {
                    output += '<div class="row mt-2">';
                    output += '<div class="col-6 text-start">';
                    output += '<button class="btn bg-gray py-2 rounded rounded-4 text-start text-break">' + res[i].content + '</button>';
                    output += '</div>';
                    output += '</div>';
                    output += '<div class="row mt-1">';
                    output += '<div class="col ms-2 date-element text-secondary chatDate">' + formatDateTime(res[i].regDate) + '</div>';
                    output += '</div>';
                } else if (sessionId == res[i].senderId) {
                    output += '<div class="row mt-2">';
                    output += '<div class="col">' + '</div>';
                    output += '<div class="col justify-content-end text-end">';
                    output += '<button class="btn btn-outline-dark py-2 rounded rounded-4 text-start">' + res[i].content + '</button>';
                    output += '</div>';
                    output += '</div>';
                    output += '<div class="row mt-1">';
                    output += '<div class="col text-end date-element me-1 text-secondary chatDate">' + formatDateTime(res[i].regDate) + '</div>';
                    output += '</div>';
                }
            }
            document.querySelector("#chatList").innerHTML = output;
         }, error: function(err) {
             return;
         }
      });
    }


    // 채팅 전송
    const sendMessage = () => {
        if (sessionId == 0) {
            location.href = "/user/loginPage";
            return;
        }
        const chatContent = document.querySelector("#chatContent");
        if (chatContent.value.trim() == "") {
            alert("내용을 입력하세요.");
            return;
        }
        $.ajax({
             type: "post",
             url: "/chat/sendMessage",
             data: {
               "content" : chatContent.value,
               "roomId" : selectedRoomId
             },
             success: function(res) {
                if (res == "ok") {
                    chatContent.value = "";
                    chatContent.focus();
                    loadChatList(selectedRoomId);
                } else {
                    return;
                }
             }, error: function(err) {
                 return;
             }
          });


    }




    const getNotificationList = () => {
          $.ajax({
           type: "get",
           url: "/notification/findAll/" + sessionId,
           success: function(res) {
              let output = "";
               if (res.length == 0) {
                  output += '<div class="text-center mb-3"> 읽지 않은 알림이 존재하지 않습니다. </div>';
              } else {
                for (let i in res) {
                  output += '<a href="' + res[i].notUrl + '">';
                  output += '<div class="row mt-2">';
                  output += '<div class="col ms-3">';

                  output += '<div class="row">';
                  output += '<div class="col-1">';
                  if (res[i].fileAttached == 0) {
                      output += '<img src="/img/user.jpg" class="rounded-circle" style="width: 28px; height: 28px; position: relative; bottom: 1px">';
                  } else if (res[i].fileAttached == 1) {
                      output += '<img class="rounded-circle" src="/upload/' + res[i].storedFileName + '" style="width: 28px; height: 28px; position: relative; bottom: 1px">';
                  }
                  output += '</div>';
                  output += '<div class="col ms-2 fw-semibold">' + res[i].sender + '</div>';
                  output += '<div class="col text-end text-secondary me-1">' + formatDateTime(res[i].occurDate) + '</div>';
                  output += '</div>';

                  output += '<div class="row">';
                  output += '<div class="col-1">';
                  output += '</div>';
                  output += '<div class="col ms-2">' + res[i].sentence + '</div>';
                  output += '</div>';

                  output += '<div class="border-bottom mt-2">' + '</div>';

                  output += '</div>';
                  output += '</div>';
                  output += '</a>';
                  }
              }
              document.getElementById('notification-list').innerHTML = output;
           },
           error: function(err) {
               return;
           }
       });
    }


   window.addEventListener("DOMContentLoaded", function(){
      getNotificationList();
       const dateElements = document.querySelectorAll('.date-element');
       dateElements.forEach(function (element) {
           const dateString = element.textContent;
           const formattedDate = formatDateTime(dateString);
           element.textContent = formattedDate;
       });

  });

</script>
</body>
</html>