<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeSpace | 개발자들의 공간</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/user/message.css}">
</head>
<style>


</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<body>
<div class="container-fluid">
    <div th:include="common/header :: header"></div>

    <div class="row">
        <div class="col-3" th:include="common/sidemenu :: sidemenu">
        </div>

        <div class="col-9">
            <div class="row mt-3 mb-4"></div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col">

                <div class="row">
                <!----------->
                <div class="col-5 border py-3 px-4">
                    <div class="row mt-1">
                        <div class="col fw-semibold fs-4 ms-2">
                            메시지 보관함
                        </div>
                        <div class="col me-1 text-end">
                            <button class="btn btn-outline-dark btn-sm rounded rounded-4 fs-16 unreadChatButton"
                            th:onclick="toggleUnreadChatList([[${session.userDTO.id}]])"
                            th:if="${session.userDTO != null}">
                                <i class="bi bi-chat-quote"></i>
                                <span class="ms-1">안 읽은 메시지</span>
                            </button>
                            <button class="btn btn-outline-dark btn-sm rounded rounded-4 fs-16 unreadChatButton"
                            th:if="${session.userDTO == null}"
                            onclick="location.href='/user/loginPage'">
                                <i class="bi bi-chat-quote"></i>
                                <span class="ms-1">안 읽은 메시지</span>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col px-3">
                            <input type="text" class="form-control rounded rounded-4 fs-18" placeholder="이름으로 검색"
                            style="text-indent: 29px" id="chatPartner">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>

                    <div class="mt-1 mb-1"></div>

                    <!-- 채팅방 목록 -->
                    <div id="chatRoomList" class="px-3">
                        <div class="row contentDiv" th:each="room : ${chatRoomList}">
                            <div class="col" th:onclick="getChatList([[${room.roomId}]])">
                                <div class="row mt-3">
                                    <div class="col-2">
                                        <img src="/img/user.jpg" class="rounded-circle mt-1" style="width: 55px; height: 55px;"
                                        th:if="${room.fileAttached == 0}">
                                        <img th:src="@{|/upload/${room.storedFileName}|}" class="rounded-circle mt-1" style="width: 55px; height: 55px;"
                                             th:if="${room.fileAttached == 1}">
                                    </div>
                                    <div class="col px-2">
                                        <div class="row">
                                            <div class="col">
                                                <span class=fw-semibold th:text="${room.nickname}"></span>
                                                <span class="ms-2 text-secondary fs-18" th:text="${room.formattedDate}"></span>
                                            </div>
                                            <div class="col-1 me-3 text-end" th:if="${room.isNotReadCount != 0}">
                                                    <div class="redCircle">
                                                        <span th:text="${room.isNotReadCount}"></span>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col overflow-list fs-18" th:text="${room.content}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom mt-3"></div>
                        </div>
                    </div>
                    <!-- 채팅방 목록 -->
                </div>
                <!----------->
                <div class="col-6 ms-3">
                    <!-- 채팅 시작 전 화면 -->
                    <div class="row" id="beforeChatScreen">
                        <div class="col-11 border text-center">

                            <div style="height: 120px;"></div>
                            <div class="row">
                                <div class="col">
                                    <img src="/img/comment.png" alt="">
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col fs-5">
                                    새로운 채팅을 시작해보세요 !
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col">
                                    <button class="btn mainButton fs-5 py-2 px-4"> 채팅 시작하기 </button>
                                </div>
                            </div>
                            <div style="height: 324px;"></div>

                        </div>
                    </div>

                <!-- 채팅 화면 -->
                 <div class="row" id="chatScreen">
                     <div class="col-11">
                         <div class="row bg-light p-3 border">
                             <div class="col-1 mt-3 fs-5 fw-semibold" style="cursor: pointer;"
                                    onclick="goBeforeChatScreen()">
                                 <i class="bi bi-arrow-left"></i>
                             </div>
                             <div class="col">
                                 <div class="row mt-1">
                                     <div class="col-1 me-1" id="imgCol">
                                     </div>
                                     <div class="col ms-4">
                                         <div class="row">
                                             <div class="col fw-semibold fs-5" id="nameCol">
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col text-secondary fs-18" id="jobCol">
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="mt-2"></div>
                         </div>

                         <!-- 채팅 -->
                         <div class="row">
                             <div class="col ps-0 pe-0">
                                 <div id="chatList" class="px-3"></div>
                                 <!-- 채팅 -->
                                 <div class="mt-5 mb-4"></div>
                                 <div class="row px-3">
                                     <div class="col rounded rounded-4 border d-grid">
                                         <div class="row">
                                             <div class="col">
                                                <textarea name=""  cols="10" rows="2"
                                                   class="form-control form-control-no-border ps-0 fs-18"
                                                   placeholder="메시지를 입력해주세요."
                                                   onkeydown="resize(this), checkSendMessage(event)" onkeyup="resize(this)"
                                                   id="chatContent"></textarea>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col text-end">
                                                 <i class="bi bi-send fs-4" style="cursor: pointer"
                                                    onclick="sendMessage()"> </i>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                <!-- 채팅 화면 -->
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Modal -->
<!-- 답변 삭제 alert -->
<div class="modal" id="deleteChatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">메시지 삭제하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <div class="col">
                        메시지를 삭제하시겠습니까?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">취소</button>
                <input type="button" class="btn mainButton fw-semibold" value="확인" onclick="deleteChat()">
            </div>
        </div>
    </div>
</div>
<!-- 답변 삭제 alert -->
<script th:inline="javascript">

    /*<![CDATA[*/
        let sessionId = [[${session.userDTO != null ? session.userDTO.id : 0}]];
    /*]]>*/

    /*<![CDATA[*/
        let selectedRoomId = [[${selectedRoomId != null ? selectedRoomId : 0}]];
    /*]]>*/

     /*<![CDATA[*/
        let selectedChatId = null;
    /*]]>*/

    /*<![CDATA[*/
        let intervalHandler = null;
    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/user/message.js}"></script>
</body>
</html>