.select2-container .select2-search--inline .select2-search__field {
    height: 30px!important;
    vertical-align: middle!important;
    font-family: 'Pretendard'!important;
    margin-left : 12px!important;
}


.select2-container--default .select2-selection--multiple {
    border: 1px solid #dee2e6!important;
}