 a {
    text-decoration: none;
    color: #333;
 }

.form-control:focus {
    border-color: #000000;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.form-select:focus {
    border-color: #000000;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}


 .orangeButton{
      background: #ff6f0f;
      font-weight: bold;
      color: white;
}
.orangeButton:hover{
      background: #FF812C;
      font-weight: bold;
      color: white;
}
 .orangeButton:active{
      background: #FF812C;
      font-weight: bold;
      color: white;
}

.orangeOutLineButton {
    color: #ff6f0f;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ff6f0f;
    font-weight: bold;
}

.orangeOutLineButton:hover {
    color: #ff6f0f;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ff6f0f;
    font-weight: bold;
}

.overflow {
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 넘친 텍스트를 숨김 */
  text-overflow: ellipsis; /* 넘친 텍스트를 "..."으로 표시 */
}

.overflow-list {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
body {
  font-family: 'Pretendard';
}

.alarmBell:hover {
    color: #ff6f0f!important;
}

.likeFont {
    font-size: 14px;
}

.commentFont {
    font-size: 14px;
}

.mainButton {
    background-color: #334155;
    color: white;
}

.mainButton:hover {
    background-color: #1e293b;
    color: white;
}

.mainButton:active {
    background-color: #1e293b;
    color: white;
}

.cateButton {
    background-color: #f1f5f9;
    font-weight: bold;
    pointer-events: none;
}
