 a {
    text-decoration: none;
    color: #333;
 }

.form-control:focus {
    border-color: #000000;
    box-shadow: 0 0 0 0.1rem rgba(128, 128, 128, 1); /* 검은색으로 변경 */
}

.form-select:focus {
   border-color: #000000;
   box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 1); /* 검은색으로 변경 */
}

.form-control-no-border {
    resize: none;
    border: none;
}

.form-control-no-border:focus {
    border-color: initial; /* 또는 transparent를 사용할 수 있습니다. */
    box-shadow: none;
}

 .orangeButton{
      background: #ff6f0f;
      font-weight: bold;
      color: white;
}
.orangeButton:hover{
      background: #FF812C;
      font-weight: bold;
      color: white;
}
 .orangeButton:active{
      background: #FF812C;
      font-weight: bold;
      color: white;
}

.orangeOutLineButton {
    color: #ff6f0f;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ff6f0f;
    font-weight: bold;
}

.orangeOutLineButton:hover {
    color: #ff6f0f;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ff6f0f;
    font-weight: bold;
}

.overflow {
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 넘친 텍스트를 숨김 */
  text-overflow: ellipsis; /* 넘친 텍스트를 "..."으로 표시 */
}

.overflow-list {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.overflow-mainList {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
    min-height: 55px;
}
body {
  font-family: 'Pretendard';
}

.alarmBell:hover {
    color: #ff6f0f!important;
}

.likeFont {
    font-size: 15px;
}

.commentFont {
    font-size: 14px;
}

.mainButton {
    background-color: #334155;
    color: white;
}

.mainButton:hover {
    background-color: #1e293b;
    color: white;
}

.mainButton:active {
    background-color: #1e293b;
    color: white;
}

.cateButton {
    background-color: #f1f5f9;
    font-weight: bold;
    pointer-events: none;
}

.endButton {
    pointer-events: none;
}

.boardContent {
   white-space: pre-line;
}


// textarea 높이 조절 설정
textarea {
    min-height: 8rem;
    overflow-y: hidden;
    resize: none;
}

.lanLogo {
    width: 45px;
    height: 45px;
}

.mainLanLogo {
    width: 35px;
    height: 35px;
}

#qnaLink:hover {
    color: black!important;
}
#qnaLink:active {
    color: black!important;
}

#noticeLink:hover {
    color: black!important;
}

#projectLink:hover {
    color: black!important;
}

.contentDiv {
    cursor: pointer;
}
.contentDiv:hover {
    background-color : #f8f9fa!important;
}

.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;
}

.bg-gray {
    background-color: #dee2e6;
}

#chatList {
    min-height: 300px;
}

.chatDate {
    font-size: 14px;
}