<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<style>

</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<body>
<div class="container-fluid">
    <div th:include="common/header :: header"></div>
    <div class="row mt-3 mb-3"></div>
   <div class="row">
       <div class="col"></div>
       <div class="col-11">
           <!-- 배너 -->
           <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
               <div class="carousel-inner">
                   <div class="carousel-item active" data-bs-interval="10000">
                       <img src="/img/tempbanner1.png" class="d-block w-100" alt="...">
                   </div>
                   <div class="carousel-item" data-bs-interval="2000">
                       <img src="/img/tempbanner2.png" class="d-block w-100" alt="...">
                   </div>
                   <div class="carousel-item" data-bs-interval="2000">
                       <img src="/img/tempbanner3.png" class="d-block w-100" alt="...">
                   </div>


               </div>
               <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="visually-hidden">Previous</span>
               </button>
               <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                   <span class="visually-hidden">Next</span>
               </button>
           </div>
           <!-- 배너 -->

           <div class="mt-4 mb-4"></div>

           <div class="row">
               <!-- 프로젝트 -->
               <div class="col-8">

                   <div class="row">
                       <div class="col fw-semibold fs-4">
                           Hot 스터디/프로젝트 🔥
                       </div>
                   </div>

                   <div class="row mt-3">
                       <!-------->
                        <div class="col-5 me-5 mb-4 rounded rounded-3 border contentDiv"
                             style="cursor: pointer" th:each="project : ${projectList}"
                        >
                            <a th:href="@{|/project/${project.id}|}">
                            <div class="mt-3 mb-3"></div>
                            <div class="row">
                                <div class="col ms-3">

                                    <div class="row">
                                        <div class="col">
                                            <button class="btn btn-sm cateButton fs-16">
                                                <span th:if="${project.projectStudy == '스터디'}"> ✏️</span>
                                                <i class="bi bi-pc-display-horizontal me-1 text-secondary"
                                                   th:if="${project.projectStudy == '프로젝트'}"></i>
                                                <span class="ms-1" th:text="${project.projectStudy}"></span>
                                            </button>
                                        </div>
                                        <div class="col text-end">
                                            <button class="btn btn-sm fs-16 btn-outline-danger text-danger me-2 endButton rounded rounded-2">
                                                <span>🚨</span>
                                                <span class="ms-1"> 마감</span>
                                                <span th:text="${project.remainingDays} + '일전'" th:if="${project.remainingDays != 0}"></span>
                                                <span th:if="${project.remainingDays == 0}" th:text="오늘 마감"></span>


                                            </button>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col text-secondary fs-18">
                                            마감일 | <span th:text="${#dates.format(project.endDate, 'yyyy-MM-dd')}"></span>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col fs-5 fw-semibold overflow-mainList" th:text="${project.title}">

                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <span th:each="tech: ${project.techList}">
                                               <img src="/img/language/java.svg" class="mainLanLogo me-1" th:if="${tech == 'Java'}">
                                                <img src="/img/language/spring.svg" class="mainLanLogo me-1" th:if="${tech == 'Spring'}">
                                                <img src="/img/language/springboot.png" class="mainLanLogo me-1" th:if="${tech == 'Spring Boot'}">
                                                <img src="/img/language/aws.svg" class="mainLanLogo me-1" th:if="${tech == 'AWS'}">
                                                 <img src="/img/language/c.svg" class="mainLanLogo me-1" th:if="${tech == 'C'}">
                                                 <img src="/img/language/docker.svg" class="mainLanLogo me-1" th:if="${tech == 'Docker'}">
                                                 <img src="/img/language/git.svg" class="mainLanLogo me-1" th:if="${tech == 'Git'}">
                                                 <img src="/img/language/javascript.svg" class="mainLanLogo me-1" th:if="${tech == 'JavaScript'}">
                                                 <img src="/img/language/kotlin.png" class="mainLanLogo me-1" th:if="${tech == 'Kotlin'}">
                                                 <img src="/img/language/mysql.svg" class="mainLanLogo me-1" th:if="${tech == 'MySQL'}">
                                                 <img src="/img/language/nodejs.svg" class="mainLanLogo me-1" th:if="${tech == 'NodeJS'}">
                                                 <img src="/img/language/python.svg" class="mainLanLogo me-1" th:if="${tech == 'Python'}">
                                                 <img src="/img/language/swift.svg" class="mainLanLogo me-1" th:if="${tech == 'Swift'}">
                                                 <img src="/img/language/typescript.png" class="mainLanLogo me-1" th:if="${tech == 'TypeScript'}">
                                                 <img src="/img/language/vue.svg" class="mainLanLogo me-1" th:if="${tech == 'Vue'}">
                                                 <img src="/img/language/react.svg" class="mainLanLogo me-1" th:if="${tech == 'React'}">
                                                 <img src="/img/language/flutter.svg" class="mainLanLogo me-1" th:if="${tech == 'Flutter'}">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mt-3 border-bottom mb-2"></div>

                                    <div class="row">
                                        <div class="col fw-semibold fs-18">
                                            <i class="bi bi-person"></i>
                                            <span th:text="${project.writer}"></span>
                                        </div>
                                        <div class="col text-end me-2 fs-18">
                                            <i class="bi bi-eye"></i>
                                            <span class="me-2" th:text="${project.readCount}"></span>
                                            <i class="bi bi-chat-left-dots"></i>
                                            <span th:text="${project.commentCount}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                            <div class="mt-3 mb-3"></div>
                        </div>
                       <!-------->
                   </div>



               </div>
               <!-- 프로젝트 -->
               <!-- qna -->
               <div class="col me-4">

                   <div class="row">
                       <div class="col fw-semibold fs-4">
                           Q&A 인기글
                       </div>
                   </div>
                   <div class="mt-2 mb-2"></div>
                   <div class="row border-bottom border-1 contentDiv" th:each="qna : ${qnaList}">
                       <a th:href="@{|/qna/${qna.id}|}">
                       <div class="col">
                           <div class="row mt-2">
                               <div class="col-1">
                                   <img src="/img/user.jpg" class="rounded-circle" style="width: 30px; height: 30px;" alt=""
                                   th:if="${qna.fileAttached == 0}">
                                   <img th:src="@{|/upload/${qna.storedFileName}|}" class="rounded-circle" style="width: 30px; height: 30px;" alt=""
                                        th:if="${qna.fileAttached == 1}">
                               </div>
                               <div class="col">
                                   <div class="row">
                                       <div class="col mt-1 fs-18">
                                           <span th:text="${qna.writer}" class="fw-medium"></span>
                                           <span class="ms-1">·</span>
                                           <span class="ms-1 date-element" th:text="${qna.regDate}"></span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="row mt-2">
                               <div class="col fw-semibold fs-5" style="font-size: 17px" th:text="${qna.title}">

                               </div>
                           </div>
                           <div class="row mt-2">
                               <div class="col">
                                   <button class="btn btn-sm cateButton fs-16"
                                           th:if="${qna.topicName == '커리어'}">
                                       <i class="bi bi-bag fw-semibold" style="color: #712cf9;"></i>
                                       <span class="ms-1" th:text="${qna.topicName}"></span>
                                   </button>
                                   <button class="btn btn-sm cateButton fs-16"
                                           th:if="${qna.topicName == '기술'}">
                                       <i class="bi bi-pencil text-success fw-semibold"></i>
                                       <span class="ms-1" th:text="${qna.topicName}"></span>
                                   </button>
                               </div>
                               <div class="col text-end fs-18" style="position:relative; top: 7px">
                                   <i class="bi bi-hand-thumbs-up"></i>
                                   <span th:text="${qna.likeCount}"></span>
                                   <i class="ms-1 bi bi-chat-dots"></i>
                                   <span th:text="${qna.replyCount}"></span>
                               </div>
                           </div>
                            <div class="mt-2 mb-2"></div>
                       </div>
                       </a>
                   </div>


               </div>
               <!-- qna -->
           </div>

           <div class="mt-5 mb-5"></div>


       </div>
       <div class="col"></div>
   </div>

</div>

<script th:inline="javascript">

    /*<![CDATA[*/
      let sessionId = [[${session.userDTO != null ? session.userDTO.id : 0}]];
  /*]]>*/

</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
</html>