<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeSpace | 개발자들의 공간</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<style>


</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<body>
<div class="container-fluid">
    <div th:include="common/header :: header"></div>

    <div class="row mt-3 mb-5"></div>
    <div class="row">
        <div class="col"></div>
        <!---------------->
        <div class="col-10">
            <div class="row">
                <!---------------->
                <div class="col-3" th:include="qna/common:: common"></div>
                <!---------------->
                <div class="col">
                    <!---------------->
                    <div class="row">
                        <!---------------->
                        <div class="col">

                            <div class="row mt-2 text-secondary">
                                <div class="col-auto sort-item text-black">
                                    <span class="text-success">•</span> 최신순
                                </div>
                                <div class="col-auto sort-item">
                                    <span>•</span>  답변 많은 순
                                </div>
                                <div class="col sort-item">
                                    <span>•</span> 답변 적은 순
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-11 border-top border-1"></div>
                            </div>

                            <div class="row" th:each="qna: ${qnaList}">
                                <div class="col-11 border-bottom border-1 contentDiv"
                                     style="min-height: 180px">

                                    <div class="row mt-2">
                                        <div class="col ms-2">

                                            <div class="row mt-1">
                                                <div class="col">
                                    <span>
                                        <img class="rounded-circle" style="width: 30px; height: 30px;"
                                             src="/img/user.jpg" th:if="${qna.fileAttached == 0}">
                                        <img class="rounded-circle" style="width: 30px; height: 30px;"
                                             th:src="@{|/upload/${qna.storedFileName}|}" th:if="${qna.fileAttached == 1}">
                                    </span>

                                                    <span class="ms-1 fw-semibold" th:text="${qna.writer}"></span>
                                                    <span class="ms-1">·</span>
                                                    <!--                                                    <span class="ms-1 text-secondary" th:text="*{#temporals.format(project.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span>-->
                                                    <span class="ms-1 text-secondary date-element" th:text="${qna.regDate}"></span>
                                                    <span class="ms-1">·</span>
                                                    <span class="ms-1 text-secondary">조회</span>
                                                    <span class="text-secondary" th:text="${qna.readCount}"></span>

                                                </div>
                                                <div class="col-6  text-end">
                                                    <!--                                            <i class="bi bi-star text-secondary"></i>-->
                                                </div>
                                            </div>

                                            <div class="row mt-3">
                                                <a th:href="@{|/qna/${qna.id}|}">
                                                    <div class="col fw-semibold fs-4" th:text="${qna.title}">

                                                    </div>
                                                </a>
                                            </div>

                                            <div class="row mt-3">
                                                <a th:href="@{|/qna/${qna.id}|}">
                                                    <div class="col overflow-list" th:utext="${qna.content}"
                                                         style="">

                                                    </div>
                                                </a>
                                            </div>

                                            <div class="row mt-3 mb-2">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <button class="btn btn-sm cateButton fs-18"
                                                                    th:if="${qna.categoryName == '기술'}">
                                                                <i class="bi bi-pencil text-success fw-semibold"></i>
                                                                <span class="ms-1" th:text="${qna.categoryName}"></span>
                                                            </button>
                                                            <button class="btn btn-sm cateButton fs-18"
                                                                    th:if="${qna.categoryName == '커리어'}">
                                                                <i class="bi bi-bag fw-semibold" style="color: #712cf9;"></i>
                                                                <span class="ms-1" th:text="${qna.categoryName}"></span>
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col text-end text-secondary fs-18">
                                                    <span> 답변 <span th:text="${qna.replyCount}"></span></span>
                                                    <span class="ms-1"> 댓글 <span th:text="${qna.commentCount}"></span></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <!---------------->
                    </div>
                    <!---------------->
                    <div class="row mt-5 mb-5"></div>
                </div>
            </div>
        </div>
        <!---------------->
        <div class="col">
            <div class="row mt-3 mb-3"></div>

        </div>
    </div>
</div>

<script th:inline="javascript">

    /*<![CDATA[*/
      let sessionId = [[${session.userDTO != null ? session.userDTO.id : 0}]];
  /*]]>*/


</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/qna/list.js}"></script>
</body>
</html>