<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<style>


</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<body>
<div class="container-fluid">
    <div th:include="common/header :: header"></div>

    <div class="row mt-3 mb-5"></div>
    <div class="row">
        <div class="col"></div>
        <!---------------->
        <div class="col-10">
            <div class="row">
                <!---------------->
                <div class="col-3" th:include="qna/common:: common"></div>
                <!---------------->
                <div class="col">
                    <!---------------->
                    <div class="row">
                        <!---------------->
                        <div class="col">
                            <div class="row">
                                <div class="col fs-4 fw-semibold ps-0 pe-0">
                                    오늘의 질문
                                </div>
                            </div>

<!--                            <div class="row mt-3 mb-2"></div>-->
                            <div class="row mt-1 mb-1"></div>
                            <!---------반복문----->

                            <div class="row mb-2 py-2 contentDiv" th:each="qnaBestDTO : ${bestQnaList}">
                                <div class="col-1 d-grid ps-0 pe-0">
                                    <button class="btn cateButton fs-5"
                                            th:if="${qnaBestDTO.topicName == '커리어'}">
                                        <i class="bi bi-bag fw-semibold" style="color: #712cf9;"></i>
                                    </button>
                                    <button class="btn cateButton fs-5"
                                            th:if="${qnaBestDTO.topicName == '기술'}">
                                        <i class="bi bi-pencil text-success fw-semibold"></i>
                                    </button>
                                </div>

                                <div class="col-10 ms-1">
                                    <a th:href="@{|/qna/${qnaBestDTO.id}|}">
                                    <div class="row">
                                        <div class="col fw-semibold overflow" style="width: 130px" th:text="${qnaBestDTO.title}">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-secondary fs-16">
                                            <span>답변</span> <span class="ms-1" th:text="${qnaBestDTO.replyCount}"></span>
                                            <span>
                                                 <i class="bi bi-dot"></i>
                                            </span>
                                            <span>추천해요</span> <span class="ms-1" th:text="${qnaBestDTO.likeCount}"></span>
                                        </div>
                                    </div>
                                    </a>
                                </div>

                            </div>

                            <!---------반복문----->


                        </div>
                        <!---------------->
                        <div class="col">
                            <div class="row">
                                <div class="col fs-4 ps-0 fw-semibold">
                                    베스트 답변
                                </div>
                            </div>

                            <div class="row mt-1 mb-1"></div>
                            <!---------반복문----->

<!--                            <div class="row mb-4" th:each="i : ${#numbers.sequence(0, 4)}">-->
                                <div class="row mb-2 contentDiv py-2" th:each="qnaBestReply : ${bestReplyList}">
                                <div class="col-1 d-grid ps-0 pe-0">
                                    <button class="btn btn-sm cateButton fs-5"
                                            th:if="${qnaBestReply.topicName == '커리어'}">
                                        <i class="bi bi-bag fw-semibold" style="color: #712cf9;"></i>
                                    </button>
                                    <button class="btn btn-sm cateButton fs-5"
                                            th:if="${qnaBestReply.topicName == '기술'}">
                                        <i class="bi bi-pencil text-success fw-semibold"></i>
                                    </button>
                                </div>

                                <div class="col-10 ms-1">
                                    <a th:href="@{|/qna/${qnaBestReply.id}|}">
                                    <div class="row">
                                        <div class="col fw-semibold overflow" style="width: 130px" th:text="${qnaBestReply.title}">
<!--                                            잘 짜여진 백엔드 오픈소스-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-secondary fs-16">
                                            <span>답변</span> <span th:text="${qnaBestReply.replyCount}"></span>
                                            <span>
                                                 <i class="bi bi-dot"></i>
                                            </span>
                                            <span>답변 좋아요</span><span class="ms-1" th:text="${qnaBestReply.likeCount}"></span>
                                        </div>
                                    </div>
                                    </a>
                                </div>

                                </div>

                            <!---------반복문----->
                        </div>
                        <!---------------->
                    </div>
                    <!---------------->
                    <!-- 게시글 목록 -->
                    <div class="row mt-5">
                        <div class="col-11 border-top border-1"></div>
                    </div>
                    <div class="row" th:each="qna: ${qnaList}">
                        <div class="col-11 border-bottom border-1 contentDiv"
                             style="min-height: 180px">

                            <div class="row mt-2">
                                <div class="col ms-2">

                                    <div class="row mt-1">
                                        <div class="col">
                                    <span>
                                        <img class="rounded-circle" style="width: 30px; height: 30px;"
                                             src="/img/user.jpg" th:if="${qna.fileAttached == 0}">
                                        <img class="rounded-circle" style="width: 30px; height: 30px;"
                                             th:src="@{|/upload/${qna.storedFileName}|}" th:if="${qna.fileAttached == 1}">
                                    </span>

                                            <span class="ms-2 fw-semibold" th:text="${qna.writer}"></span>
                                            <span class="ms-1">·</span>
                                            <!--                                                    <span class="ms-1 text-secondary" th:text="*{#temporals.format(project.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span>-->
                                            <span class="ms-1 text-secondary date-element" th:text="${qna.regDate}"></span>
                                            <span class="ms-1">·</span>
                                            <span class="ms-1 text-secondary">조회</span>
                                            <span class="text-secondary" th:text="${qna.readCount}"></span>

                                        </div>
                                        <div class="col-6  text-end">
<!--                                            <i class="bi bi-star text-secondary"></i>-->
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <a th:href="@{|/qna/${qna.id}|}">
                                            <div class="col fw-semibold fs-4" th:text="${qna.title}">

                                            </div>
                                        </a>
                                    </div>

                                    <div class="row mt-3">
                                        <a th:href="@{|/qna/${qna.id}|}">
                                            <div class="col overflow-list" th:utext="${qna.content}"
                                            style="">

                                            </div>
                                        </a>
                                    </div>

                                    <div class="row mt-3" th:if="${qna.hashTag != null}">
                                        <div class="col">
                                            <span class="text-secondary">
                                                    <span th:each="tag, iterStat : ${#strings.replace(qna.hashTag, '\\s*#\\s*', '#').split('#')}" th:if="${!#strings.isEmpty(tag)}">
                                                        <span th:text="'# ' + ${tag}" class="me-3"></span>
                                                        <span th:if="${!iterStat.last}"> </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row mt-3 mb-2">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-sm cateButton fs-18"
                                                    th:if="${qna.categoryName == '기술'}">
                                                        <i class="bi bi-pencil text-success fw-semibold"></i>
                                                        <span class="ms-1" th:text="${qna.categoryName}"></span>
                                                    </button>
                                                    <button class="btn btn-sm cateButton fs-18"
                                                            th:if="${qna.categoryName == '커리어'}">
                                                        <i class="bi bi-bag fw-semibold" style="color: #712cf9;"></i>
                                                        <span class="ms-1" th:text="${qna.categoryName}"></span>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mt-1 text-end text-secondary fs-18">
                                           <span> 답변 <span th:text="${qna.replyCount}"></span></span>
                                            <span class="ms-1"> 댓글 <span th:text="${qna.commentCount}"></span></span>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- 게시글 목록 -->
                    <div class="row mt-5 mb-5"></div>
                </div>
            </div>
        </div>
        <!---------------->
        <div class="col">
            <div class="row mt-3 mb-3"></div>

        </div>
    </div>
</div>

<script th:inline="javascript">

    /*<![CDATA[*/
      let sessionId = [[${session.userDTO != null ? session.userDTO.id : 0}]];
  /*]]>*/

</script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/qna/list.js}"></script>
</body>
</html>